<div id="cssmenu">
    <ul>
        <li>
            <a href="#">CANDIDATES&nbsp;&nbsp;</a>
            <ul style="text-align:left;margin:0 0 0 0px">
                <li style="padding-left:10px;"><a href="@Url.Content("~/BackOfficeActivatedCandiates")"> ACTIVATED</a></li>
                <li style="padding-left:10px;"><a href="@Url.Content("~/BackOfficeNonActivatedCandiates")"> NON ACTIVATED</a></li>
                <li style="padding-left:10px;"><a href="@Url.Content("~/BackOfficeRegistrationProgressCandiates")"> REG PROGRESS</a></li>
                <li style="padding-left:10px;"><a href="@Url.Content("~/BackOfficeJobFair")"> JOB FAIR</a></li>

            </ul>

        </li>

        <li>
            <a href="#">EMPLOYERS&nbsp;&nbsp;</a>
            <ul style="text-align:left;margin:0 0 0 0px">
                <li><a href="@Url.Content("~/BackOfficeEmployersTemp")">TEMP REGISTRATIONS</a></li>
                <li><a href="@Url.Content("~/BackOfficeEmployersEmailNonActivated")">EMAIL NOT ACTIVATED</a></li>
                <li><a href="@Url.Content("~/BackOfficeEmployersAssignPackage")">INACTIVE / EXPIRED</a></li>
                <li><a href="@Url.Content("~/BackOfficeEmployersActivated")">ACTIVE</a></li>
                <li><a href="@Url.Content("~/BackOfficeVacancies")">LIVE VACANCIES</a></li>
            </ul>

        </li>

    </ul>
</div>
