<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="@Url.Content("~/images/ico/favicon.png")">
    <title>Jobs for Bahrainis J4B Jobs in Bahrain</title>
    <meta name="description" content="Jobs4Bahrainis is a unique interactive job portal providing employers with access to Bahraini talent and enabling Bahraini nationals to search for job opportunities within their specialized or preferred employment sectors" />
    <meta name="google-site-verification" content="6fRyLj2s3jUw8RqI6X5K9MaSuApPMZwfRp6GoQ29SnE" />
    <meta name="author" content="Binju Paul - binju.paul@tradearabia.net" />
    <meta name="date" content="10-10-2018" />


    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/style.css")?v=1.9" rel="stylesheet">
    <link href="@Url.Content("~/css/owl.carousel.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/menu-styles.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/media-queries.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/popup-style.css")" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="@Url.Content("~/js/html5shiv.js")"></script>
          <script src="@Url.Content("~/js/respond.min.js")"></script>
        <![endif]-->



</head>
<body class="homepage fullgraybg">
    <div class="topgraybg ">
        <div class="container">
            <div class="topaddimg fade-05 bannerrow">
                
                <div class="pull-right">
                    <img src="@Url.Content("~/images/poweredbygconx.png")"  />
                </div>
                
                <div class="pull-left">
                    <!-- BEGIN ADVERTSERVE CODE BLOCK -->
                    <script type="text/javascript">
                        var bust = Math.floor(89999999 * Math.random() + 10000000);
                        var millis = new Date().getTime();
                        var referrer = encodeURIComponent((window != top && window.location.ancestorOrigins) ? window.location.ancestorOrigins[window.location.ancestorOrigins.length - 1] : document.location);
                        document.writeln('<iframe src="http://tradearabia2.advertserve.com/advertpro/servlet/view/banner/javascript/html/zone?zid=241&pid=0&refresh=10&refresh_limit=60&resolution=' + (window.innerWidth || screen.width) + 'x' + (window.innerHeight || screen.height) + '&random=' + bust + '&millis=' + millis + '&referrer=' + referrer + '" style="width: 728px; height: 90px; border: 0px solid; vertical-align: bottom; " scrolling="no">');
                        document.writeln('</iframe>');
                    </script>
                    <!-- END ADVERTSERVE CODE BLOCK -->
                </div>

                
            </div>
        </div>
        </div>
    @RenderBody()
    <div class="footerbg">
        <div class="container">
            <div class="footermenu">
                <div class="row">
                    <div class="col-md-5">
                        <div class="fbabout fade-1">
                            <div class="footerlogo"><a href="@Url.Content("~/")" title=""><img src="@Url.Content("~/images/jobs4bahrainislogo.png")?v=1" alt="" /></a></div>
                            <div class="footerabout">
                                Jobs4Bahrainis is a unique interactive job portal providing employers with access to Bahraini talent and enabling Bahraini nationals to search for job opportunities within their specialized or preferred employment sectors. J4B is powered by Gulf Connexions and is dedicated to supporting Bahrainization and enhancing the employment prospects of qualified Bahraini nationals.
                            </div>
                            <div class="footersocialmedia">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/Jobs4bahrainis"><i class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank"  href="http://instagram.com/jobs4bahrainis"><i class="fa fa-instagram"></i></a></li>
                                    <li><a target="_blank"  href="https://www.youtube.com/channel/UCGlv-6oMLkfY7MBnxtDj4ww"><i class="fa fa-youtube"></i></a></li>
                                    <li><a target="_blank"  href="https://twitter.com/Jobs4Bahrainis"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footerlist  fade-2" >
                          
                            <ul>
                                <li><a href="@Url.Content("~/AboutUs")">About Us</a></li>
                                <li><a href="@Url.Content("~/MediaCenter")">Media Center</a></li>
                                <li><a href="@Url.Content("~/Packages")">Pricing</a></li>
                                <li><a href="@Url.Content("~/CareerServices")">Careers Resources</a></li> 
                                <li><a href="@Url.Content("~/TermsandConditions")">Terms & Conditions</a></li>
                                <li><a href="@Url.Content("~/ContactUs")">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footernewsletter  fade-3">
                            <h3>NEWSLETTER</h3>
                            <p class="">
                                We  may  send  you  updates  and  information
                                about related events, products and services.
                            </p>
                           
                            <div class="newsletterinput">
                                <form method="post" action="@Url.Content("~/NewsletterSubscription")">
                                    <input name="address" type="email" required placeholder="Enter email address">
                                    <input name="send" type="submit" value="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrighttext">
            <div class="container">&copy; @DateTime.Now.Year Copyright Jobs4bahrainis. Designed and developed by Northstar Media</div>
        </div>
    </div>

    <script type="text/javascript">
                    function add_chatinline() { var hccid = 33478387; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
                    add_chatinline();
    </script>

    @*
        https://mylivechat.com
        USERID: 33478387
        pw: hilalbah01


        email userd: binju.paul@tradearabia.net
    *@
     
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/full-slider/mousescroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/full-slider/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/sticky-header.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/js/magnific.js")"></script>
    <script src="@Url.Content("~/js/common.js")?ver=1"></script>
    <script src="@Url.Content("~/js/owl.carousel.js")"></script>
    <script src="@Url.Content("~/js/wow.js")"></script>


    <!-- START Google Analytics Code -->
    <!--google track-->
    <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-16709787-1']);
                    _gaq.push(['_trackPageview']);
                    (function () {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
    </script>
    <!--google track end-->
</body>
</html>
