
@{
    ViewBag.Title = "Signout";
    Html.RenderAction("menulogin");
}
<div class="topheaderbg sticky">
    <div class="toplogosection fade-1 dashboardmenu">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/jobs4bahrainislogo.png")" alt="" /></a></div>
                </div>
                <div class="col-sm-8">
                    <div id="cssmenu" class="menupadd">
                        <ul>
                            <li><a href="@Url.Content("~/")">Home</a></li>
                            <li><a href="@Url.Content("~/AboutUs")">About Us</a></li>
                            <li><a href="@Url.Content("~/MediaCenter")">Media Center</a></li>
                            <li><a href="@Url.Content("~/Packages")">Pricing</a></li>
                            <li><a href="@Url.Content("~/ContactUs")">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="dashboardsection mainlightgraybg">
    <div class="container">

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 fade-1 dashboardwhiteboxshadow" style="min-height:400px">
                <h1 class="mainpagetitle Padd15 centertext">EMAIL <span>VERIFICATION    </span></h1>
                <br />
                <div class="col-md-12">

                    <div class="col-md-12 centertext fade-2">
                        <br />
                        <br />
                        <br />
                        <p>You've successfully verified your email address!</p>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_partners")

