@using PagedList;
@using PagedList.Mvc;
@*@using PagedList.Mvc.Common;*@
@model IEnumerable<Jobs4Bahrainis.Models.CandidateSearchResultModel>  
@{
    ViewBag.Title = "JobSeeker";
}
@*@Html.Partial("_menu")*@
<style>
    .dashboard-middsec .col-md-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pagination-container{
        text-align:right;
    }
    .searchformsec a:hover {
        color: #606163;
    }

    .modals {
        position: fixed;
        z-index: 999;
        top: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
    }

    .center {
        z-index: 1000;
        margin: 300px auto;
        padding: 10px;
        width: 148px;
        background-color: white;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

        .center img {
            height: 128px;
            width: 128px;
        }

    .center {
        text-align: center;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="menutoprel dashboardmenu">
    <div class="topheaderbg sticky">
        <div class="toplogosection ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/logo.png")" alt="" /></a></div>
                        <div id="cssmenu" class="menupadd">
                            <ul>
                                <li><a href="@Url.Content("~/Recruiter")">DASHBOARD</a></li>
                                <li class="active"><a href="@Url.Content("~/CandidateSearch")">CANDIDATE SEARCH</a></li>
                                <li><a href="@Url.Content("~/ManageVacancies")">MANAGE VACANCIES</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="notiuserdet">
                            <ul>
                                <li>
                                    @Html.Partial("_recruiterlogin")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modals loader2" style="display:none">
    <div class="center">
        <img src="@Url.Content("~/images/loaderarrows.gif")" />
    </div>
</div>
<div class="dashboardsection MT30">
    <div class="container">
        <div class="leftrightpanel">
            <div class="row mainrow">

                <div class="col-sm-12">
                  
                    <div class="dashboard-middsec">
                        <div class="row">
                            <div class="homesearchsection wow fade-2 ">
                                <h1 class="mainpagetitle Padd15">SEARCH <span>RESULTS</span></h1>
                                <div class="searchformsec">
                                    @{ 
                                        if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var js in Model)
                                            {
                                        <a href="@Url.Action("CandidateSearchDetail", "Home", new { ca_id = js.ca_Id })">
                                            
                                            <div class="listwhitebox tablistsec">

                                                <div class="row" style="font-size:15px;">
                                                    <div class="col-md-12">
                                                        <div class="candidatesearchimage" style="float:left;width:100px">
                                                            <img style="width:100px;height:100px;" src="@js.LogoURL" alt="" onerror="this.src='@Url.Content("~/images/jobseeker.png")';" />
                                                        </div>
                                                        <div class="candidatesearchdet" style="margin-left:120px">
                                                            @*<div class="row">
                                                                <div class="col-md-8" style="font-size:18px;"><b>@js.ca_FullName</b></div>
                                                                                                                <div class="col-md-2 postjobntn"><a target="_blank" href="@ViewBag.CVpath" class="redbgbtn">VIEW CV</a> </div>
                                                                    </div>
                                                            *@
                                                            <div class="row">
                                                                <div class="col-md-12" style="font-size:18px;margin-bottom:20px"><b>@js.ca_FullName</b></div>

                                                                <div class="col-md-4"><b style="font-size:14px">Date of Birth:</b> @(js.ca_DateOfBirth != null ? js.ca_DateOfBirth.GetValueOrDefault().ToString("dd-MM-yyyy") : "")</div>
                                                                <div class="col-md-4" style="font-size:14px"><b>Phone:</b> @js.ca_PhoneMobile</div>
                                                                <div class="col-md-4"><b style="font-size:14px">Email:</b> @js.ca_EmailAddress</div>

                                                                <div class="col-md-4"><b style="font-size:14px">Gender:</b> @js.ca_Gender</div>
                                                                <div class="col-md-4"><b style="font-size:14px">Education Level:</b> @js.EducationLevel</div>
                                                                <div class="col-md-4"><b style="font-size:14px">Current Salary:</b> BHD @js.ca_SalaryFrom</div>
                                                                <div class="col-md-12"><b style="font-size:14px">Interested Sectors:</b> @js.Interest</div>
                                                                <div class="col-md-12"><b style="font-size:14px">Profile Summary:</b> @js.ca_Profile</div>

                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </a>
                                            }
                                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("CandidateSearchResult",
                                           new { page, keyword = Request.QueryString["keyword"] , lname = Request.QueryString["lname"],
                                               fname = Request.QueryString["fname"],age = Request.QueryString["age"],
                                               gender = Request.QueryString["gender"] ,qualification = Request.QueryString["qualification"],
                                               salary = Request.QueryString["salary"] , experience = Request.QueryString["experience"] }))
                                        }
                                        else
                                        {
                                            <div>
                                                No Record Found!!!
                                            </div>
                                        }
                                    }
                                </div>
                                </div>
                                    @*<div class="col-md-8">
                                        <div class="dashboardwhiteboxshadow tabacc-sec wow fade-2">
                                          

                                    <div class="tab-content">
                                        <div class="vacancieslist">
                                            <ul>

                                                @foreach (var js in Model)
                                                {

                                                    <li>
                                                        <div class="vacanciestuserimg"><a href="#"><img style="width:100px;height:100px;" src="@ViewBag.TestImg" alt="" onerror="this.src='@Url.Content("~/images/jobseeker.png")';" /></a></div>
                                                        <div class="vacanciestdet">
                                                            <h4><a href="#">@js.ca_FullName</a></h4>
                                                            <span>@js.ca_EmailAddress</span> @js.ca_PhoneMobile<br />
                                                            Gender: @js.ca_Gender &nbsp;&nbsp;&nbsp;Age: @js.ca_Age
                                                        </div>
                                                    </li>
                                                }
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>*@
                            @*<div class="col-md-4">
                                    <div class="feturedsectors-list dashboardwhiteboxshadow wow fade-3" style="padding:10px">
                                        <h1 class="mainpagetitle Padd15"><span>FEATURED</span> SECTORS</h1>
                                        <div class="feturlist">
                                           <ul>
                                                @{ count = 0;}
                                                @foreach (var jsc in ViewBag.lstjobsectorcount)
                                                {
                                                    if (count < 18)
                                                    {
                                                        <li><a href="@Url.Content("~/SectorJobs/"+jsc.SectorID+"/"+jsc.SectorURL)">@jsc.Sector</a></li>
                                                    }
                                                    count++;
                                                }
                                            </ul>

                                        </div>
                                    </div>

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feturedsectors-list dashboardwhiteboxshadow wow fade-3">
            <h1 class="mainpagetitle Padd15">Top <span>EMPLOYERS</span></h1>
            <div class="topemp-carousel centertext wow fade-1-5">
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-3.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-4.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-5.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-6.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-3.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-4.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-5.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-6.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        //alert('lol');
        //loaderSpin2(true);
        function loaderSpin2(visible) {
            // alert('loader');
            var $loader = $('.loader2');
            if (visible === true) {
                $loader.show();
            }
            else {
                $loader.hide();
                //setTimeout(function () {
                //    $loader.hide();
                //}, 10);
            }
        }

        $(document).on('click', '.pagination a', function () {
            loaderSpin2(true);
        });
    });
</script>