@{
    Html.RenderAction("menulogin");
}

@Html.Partial("_menu")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="@Url.Content("~/css/select2.css")" rel="stylesheet" />
<script src="@Url.Content("~/js/select2.js")"></script>


<script src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
<script type="text/javascript">

    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        theme_advanced_buttons1: "bold,italic,underline,strikethrough",
        menubar: false,
        statusbar: true,
        branding: false,
        plugins: "wordcount",
    });

</script>


<div class="homesearchsection mainlightgraybg PTb60">
    <div class="container">
        <h1 class="mainpagetitle centertext   fade-1"> <span>JOB SEEKER</span> REGISTRATION</h1>
        <div class="dashboardwhiteboxshadow tabacc-sec   fadeInUp">
            @Html.Partial("_CanRegTabs")

            <br style="clear:both" />
            <br style="clear:both" />
            <div class="tabboxpadd  fadeInUp" data--delay="0.1s" data--duration="0.5s">
                <div class="registerformbox" id="registerformbox">
                    <form id="mainform" method="post" enctype="multipart/form-data">
                        <div class="row" style="min-height:500px;padding:0 15px;">


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Date of Birth <span>*</span></label>
                                    <input value="@ViewBag.DOB" class="form-control" id="ca_DateOfBirth" name="ca_DateOfBirth" placeholder="Date / Month / Year" type="text" onkeydown="return false;" required>

                                    <script>
                                        $(document).ready(function () {
                                            var options = $.extend({},
                                                $.datepicker.regional["ja"], {
                                                dateFormat: "dd/mm/yy",
                                                changeMonth: true,
                                                changeYear: true,
                                                yearRange: "1955:2015"
                                            }
                                            );
                                            $("#ca_DateOfBirth").datepicker(options);
                                        });

                                    </script>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="gender">Gender <span>*</span></label>
                                    <select class="form-control " id="ca_Gender" name="ca_Gender" required oninvalid="this.setCustomValidity('Gender is mandatory')" onchange="setCustomValidity('')">
                                        <option value="">Select</option>
                                        <option @(ViewBag.ca_Gender == "M" ? "selected" : "") value="M">Male</option>
                                        <option @(ViewBag.ca_Gender == "F" ? "selected" : "") value="F">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Marital Status <span>*</span></label>
                                    <select class="form-control" id="ca_MaritalStatus" name="ca_MaritalStatus" required oninvalid="this.setCustomValidity('Marital Status is mandatory')" onchange="setCustomValidity('')">
                                        <option value="">Select</option>
                                        <option @(ViewBag.ca_MaritalStatus == "Single" ? "selected" : "") value="Single">Single</option>
                                        <option @(ViewBag.ca_MaritalStatus == "Married" ? "selected" : "") value="Married">Married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Current Location <span>*</span></label>
                                    <select style="width:100%" class="form-control searchableselect" id="ca_lm_CountryId" name="ca_lm_CountryId" required oninvalid="this.setCustomValidity('Current Location is mandatory')" onchange="setCustomValidity('')">
                                        <option value="">Select</option>
                                        @foreach (var con in ViewBag.Country)
                                        {
                                            <option @(ViewBag.Ca_CurrentCountryID == con.lm_Id ? "selected" : "") value="@con.lm_Id">@con.lm_Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6" style="clear:both">
                                <div class="form-group">
                                    <label for="highesteducation">Highest Level of Education <span>*</span></label>
                                    <select style="width:100%" class="form-control searchableselect" id="ca_lm_EducationLevel" name="ca_lm_EducationLevel" required oninvalid="this.setCustomValidity('Highest level of education is mandatory')" onchange="setCustomValidity('')">
                                        <option value="">Select</option>
                                        @foreach (var edu in ViewBag.EducationLevel)
                                        {
                                            <option @(ViewBag.ca_lm_EducationLevel == edu.lm_Id ? "selected" : "") value="@edu.lm_Id">@edu.lm_Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Name of High School / University <span>*</span></label>
                                    <select style="width:100%" class="form-control searchableselect" id="proUniversity" name="proUniversity" required oninvalid="this.setCustomValidity('Name of High School / University')" onchange="setCustomValidity('')">
                                        <option value="">Select</option>
                                        @foreach (var uni in ViewBag.University)
                                        {
                                            <option @(ViewBag.ca_UniversityID == uni.lm_Id ? "selected" : "") value="@uni.lm_Id">@uni.lm_Value</option>
                                        }
                                    </select>
                                </div>
                            </div>




                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="currentposition">Industry / Sector <span>*</span></label>
                                    <select style="width:100%" class="form-control searchableselect" id="Ca_SectorIndustryID" name="Ca_SectorIndustryID" required>
                                        <option value="">Select</option>
                                        @foreach (var jfn in ViewBag.Sectors)
                                        {
                                            <option @(ViewBag.Ca_SectorIndustryID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                        }

                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Function <span>*</span></label>
                                    <select style="width:100%" class="form-control searchableselect" id="ca_FunctionTitleID" name="ca_FunctionTitleID" required>
                                        <option value="">Select</option>
                                        @foreach (var jfn in ViewBag.FunctionalTitles)
                                        {
                                            <option @(ViewBag.ca_FunctionTitleID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <br style="clear:both" />
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job Title <span>*</span></label>
                                    <select style="width:100%" class="form-control searchableselect" name="ca_CurrentJobTitleID" id="ca_CurrentJobTitleID" required>
                                        <option value="">Select</option>
                                        @foreach (var jfn in ViewBag.JobTitle)
                                        {
                                            <option @(ViewBag.ca_CurrentJobTitleID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                        }

                                    </select>
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Total Experience (Years) <span>*</span></label>


                                    <select style="width:100%" class="form-control searchableselect" id="ca_TotalRelavantExperience" name="ca_TotalRelavantExperience" required oninvalid="this.setCustomValidity('Experience is mandatory')" onchange="setCustomValidity('')">
                                        <option value="">Select</option>
                                        @foreach (var jfn in ViewBag.Experience)
                                        {
                                            <option @(ViewBag.ca_TotalRelavantExperience == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                        }

                                    </select>


                                </div>
                            </div>





                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="summary">Profile Description <span>*</span> <span style="color:#cccccc">(Minimum 25 words)</span></label>
                                    <textarea style="height:100px;" class="form-control" name="ca_Profile" id="ca_Profile" rows="10" placeholder="Eg: Social Media Expert with extensive experience in the commercial utilisation of multiple social media channels including Facebook, Twitter and YouTube; I build successful social strategies that increase brand awareness, promote customer engagement and ultimately drive web traffic and conversions. With a degree in psychology and strong business acumen, I bring a customer focused approach to online and social marketing.">@ViewBag.ca_Profile</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="form-group">


                                    <label for="summary">Curriculum vitae <span>*</span></label><br />
                                    <table>
                                        <tr>
                                            <td><div style="background-color:#ec2027;padding:1px 15px;color:white;margin:0 0 0 0;width:125px;float:left;cursor:pointer" data-toggle="modal" data-target="#CVModal"><i class="fa fa-cloud-upload"></i> Attach CV </div></td>
                                            <td><div style="cursor:pointer;width:150px;height:24px;background-color:#ccc;text-align:center;font-size:16px;color:white" data-toggle="modal" data-target="#CVModal">Choose file</div></td>
                                        </tr>
                                    </table>



                                    <input type="hidden" value="@ViewBag.candidatecv" id="cvuploaded" />
                                    <br style="clear:both" />
                                    @if (ViewBag.candidatecv == null)
                                    { }
                                    else
                                    {
                                        <div class="col-md-12"><b>Uploaded CV:</b> @ViewBag.candidatecv</div>

                                    }
                                    <div class="col-md-12" id="iscvuploaded"><b>Uploaded CV:</b> </div>
                                </div>
                            </div>
                            <br style="clear:both" />

                            <div class="col-md-12" style="clear:both;">
                                <br />
                                <div class="form-group">


                                    <label for="summary">Profile Photo <span>*</span></label><br />
                                    <table>
                                        <tr>
                                            <td><div style="background-color:#ec2027;padding:1px 15px;color:white;margin:0 0 0 0;cursor:pointer" data-toggle="modal" data-target="#profilePicModal"><i class="fa fa-cloud-upload"></i> Attach pic </div></td>
                                            <td><div style="cursor:pointer;width:150px;height:24px;background-color:#ccc;text-align:center;font-size:16px;color:white" data-toggle="modal" data-target="#profilePicModal">Choose file</div></td>
                                        </tr>
                                    </table>



                                    <input type="hidden" value="@ViewBag.uploadphoto" id="picuploaded" />
                                    <br style="clear:both" />
                                    @if (ViewBag.uploadphoto == null)
                                    { }
                                    else
                                    {
                                        <div class="col-md-12"><b>Uploaded Pic:</b> @ViewBag.uploadphoto</div>

                                    }
                                    <div class="col-md-12" id="ispicuploaded"> </div>

                                </div>
                            </div>


                            <br style="clear:both" />
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Attach ID <span>*</span></label>

                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><div style=" background-color:#ec2027;padding:1px 11px;color:white;margin:0 0 0 0;width:120px;"><i class="fa fa-cloud-upload"></i> Attach ID </div></td>
                                            <td style="vertical-align:top"><input type="file" id="uploadcpr" name="uploadcpr" onchange="showuploadcpr()" required /></td>

                                        </tr>
                                    </table>


                                    <br style="clear:both" />

                                    (Please attach proof of Bahraini Nationality ie Driver's License, CPR etc)
                                </div>
                            </div>


                            <br style="clear:both" />

                            <div style="clear:both;margin:5px 0 0px 0;">
                                <div class="form-group formbtn " style="margin:0 0 -5px 0">
                                    <div class="col-md-12">


                                        <input id="save" name="save" type="submit" value="SAVE / NEXT" class="pull-right btnsubmit">
                                        <div style="margin:13px 5px 0 0;font-size:13px; float:right;color:red"><span>* Mandatory Fields</span></div>
                                        <img src="@Url.Content("~/images/loader.gif")" class="pull-right" id="loader" style="width:50px;" />
                                        <script>

                                            $("#loader").hide();


                                        </script>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </form>
                </div>

            </div>







            <br style="clear:both" />
        </div>
        <br style="clear:both" />

        <i style="color:green" class="fa fa-check-circle" aria-hidden="true"></i> Completed tabs
    </div>
</div>
<link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.css")">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>





<script>


    
    $('#uploadcpr').bind('change', function () {
        var extension = $('#uploadcpr').val().split('.').pop().toLowerCase();
        if ($.inArray(extension, ['pdf', 'jpg', 'png', 'jpeg']) == -1) {
            alert('Only .jpg, .jpeg, .png, .pdf are allowed');
            $('#uploadcpr').val("");
            return false;
        }


        if (this.files[0].size > 1500000) {
            alert('ID File size is too big, attach a smaller file (less than 2mb) !');
            $('#uploadcpr').val("");
        }
    });




    $(document).ready(function () {
        $('.searchableselect').select2();

        $("#mainform").submit(function (e) {
            e.preventDefault();


            tinyMCE.triggerSave();
            var profiledesc = $(tinyMCE.get('ca_Profile').getBody()).text();

            var words = profiledesc.split(' ');

            if (words.length < 25) {
                alert('Profile Description must have more than 25 words!');
                return false;
            }

            if (words.length > 100) {
                alert('Profile Description must be less than 100 words!');
                return false;
            }

            if ($('#cvuploaded').val() == "") {
                alert("CV is mandatory");
                return false;
            }

            if ($('#picuploaded').val() == "") {
                alert("Profile pic is mandatory");
                return false;
            }

            if ($('#uploadcpr').val() == "") {
                alert("ID is mandatory");
            }


            $("#save").hide();
            $("#loader").show();



            var formdata = new FormData(this);

            $.ajax({
                method: "POST",
                url: "@Url.Content("~/RegisterCandidate")",
                data: formdata,
                mimeTypes: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    window.location.href = "@Url.Content("~/CanRegWorkHistory")";
                },
                error: function () {
                    alert("Couldn't Save, check the input values!");
                }
            })
        });
    });



</script>



<style>
    .registerformbox input, .registerformbox textarea, .registerformbox select {
        height: 50px;
    }

    label span {
        color: red;
    }
</style>



<div id="profilePicModal" class="modal fade" role="dialog">
    <div class="modal-lg center-block">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="mainpagetitle"><span>PROFILE</span> PIC</h1>
            </div>
            <div class="modal-body">

                <div class="col-md-12" style="clear:both;">

                    <div class="form-group">
 <form id="picform">

                        <label for="summary">Profile Photo <span>*</span></label><br />
                       
                        <input type="file" style="" id="uploadphoto" name="uploadphoto" placeholder="Upload Pic" required />
                        <input name="save" type="submit" value="Upload" class="btnsubmit pull-right">
 </form>
                    </div>
                </div>







                <script>
                                            $(document).ready(function () {

                                                $('#uploadphoto').bind('change', function () {
                                                    var extension = $('#uploadphoto').val().split('.').pop().toLowerCase();
                                                    if ($.inArray(extension, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                                                        alert('Only .jpg, .jpeg, .png, .gif are allowed');
                                                        $('#uploadphoto').val("");
                                                        return false;
                                                    }

                                                    if (this.files[0].size > 1500000) {
                                                        alert('Photo File size is too big, attach a smaller file (less than 2mb) !');
                                                        $('#uploadphoto').val("");
                                                    }
                                                });

                                                $("#picform").submit(function (e) {
                                                    e.preventDefault();

                                                    var formdata = new FormData(this);

                                                    $.ajax({
                                                        method: "POST",
                                                        url: "@Url.Content("~/UploadProfilePicRegistration")",
                                                        data: formdata,
                                                        mimeTypes: "multipart/form-data",
                                                        contentType: false,
                                                        cache: false,
                                                        processData: false,
                                                        success: function (data) {
                                                            $('#picuploaded').val("YES");
                                                            $('#ispicuploaded').html("<b>Uploaded Pic:</b> YES");
                                                            $('#profilePicModal').modal('toggle');
                                                        },
                                                        error: function () {

                                                        }
                                                    });

                                                });



                                            });
                </script>
            </div>
            <br style="clear:both" />
            <br style="clear:both" />
        </div>

    </div>

</div>


<div id="CVModal" class="modal fade" role="dialog">
    <div class="modal-lg center-block">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="mainpagetitle"><span>Curriculum</span> Vitae</h1>
            </div>
            <div class="modal-body">


                <form id="cvform">

                    <div class="col-md-12">

                        <div class="form-group">

                            <label for="summary">Curriculum vitae <span>*</span></label><br />
                            <input type="file" style=" width:200px;height:30px;" id="uploadcv" name="uploadcv" placeholder="Upload CV" required />

                            <input name="save" type="submit" value="Upload" class="btnsubmit pull-right">
                        </div>
                    </div>


                </form>


                <script>
                                            $(document).ready(function () {
                                                $('#uploadcv').bind('change', function () {
                                                    var extension = $('#uploadcv').val().split('.').pop().toLowerCase();
                                                    if ($.inArray(extension, ['pdf', 'docx', 'doc']) == -1) {
                                                        alert('Only .pdf, .doc, .docx are allowed');
                                                        $('#uploadcv').val("");
                                                        return false;
                                                    }


                                                    if (this.files[0].size > 1500000) {
                                                        alert('CV File size is too big, attach a smaller file (less than 2mb) !');
                                                        $('#uploadcv').val("");
                                                    }
                                                });



                                                $("#cvform").submit(function (e) {
                                                    e.preventDefault();

                                                    var formdata = new FormData(this);

                                                    $.ajax({
                                                        method: "POST",
                                                        url: "@Url.Content("~/UploadCVregistration")",
                                                        data: formdata,
                                                        mimeTypes: "multipart/form-data",
                                                        contentType: false,
                                                        cache: false,
                                                        processData: false,
                                                        success: function (data) {
                                                            $('#cvuploaded').val("YES");
                                                            $('#iscvuploaded').html("<b>Uploaded CV:</b> YES");
                                                            $('#CVModal').modal('toggle');
                                                        },
                                                        error: function () {

                                                        }
                                                    });

                                                });


                                            });
                </script>

                <br style="clear:both" />
                <br style="clear:both" />

            </div>

        </div>

    </div>
</div>

