@model Jobs4Bahrainis.Models.CandidateSkills


@{
    ViewBag.Title = "JobSeeker";
}
<style>
    #cssmenu > ul > li.has-sub > a::after {
        top: 60px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="@Url.Content("~/css/select2.css")" rel="stylesheet" />
<script src="@Url.Content("~/js/select2.js")"></script>
<div class="menutoprel dashboardmenu">
    <div class="topheaderbg">
        <div class="toplogosection fade-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <div class="toplogo ">
                            <a href="@Url.Content("~/")"><img src="images/jobs4bahrainislogo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-7 pull-left">

                        <div id="cssmenu">
                            <ul>
                                <li>
                                    <a href="@Url.Content("~/JobSeekerProfile")">PROFILE</a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Content("~/JobSeeker")">JOBS</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/CandidateCareerServices")">Career Services</a>
                                </li>



                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="notiuserdet">
                            <ul>
                                <li>
                                    @Html.Partial("_candidatelogin")
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboardsection MT30">
    <div class="container">
        <div class="row mainrow">

            <div class="col-md-12">
                <div class="col-sm-12">
                    @*<div class="dashboardwhiteboxshadow">*@
                    @using (Html.BeginForm("JobSearchResult", "Home", FormMethod.Get))
                    {
                        <div class="col-md-12">

                            <h1 class="mainpagetitle Padd15 centertext"><span>JOB</span> ADVANCED SEARCH</h1>
                            @*<div class="searchformsec">*@
                            @*<div class="row">*@

                            @*<div class="col-md-12">*@

                            @*<input name="keyword" type="text" placeholder="Search keyword" id="keyword" class="skill-search-icon">*@
                            @*<input name="ac_jobtitle" type="text" placeholder="Search keyword" id="ac_jobtitle" class="skill-search-icon">*@
                            @*<input class="form-control" id="ac_jobtitle" placeholder="Select" type="text" required oninvalid="this.setCustomValidity('Gender is mandatory')" oninput="setCustomValidity('')">*@
                            @*<input class="form-control" name="keyword" id="keyword" placeholder="Select" type="text" >*@

                            @*</div>*@
                            @*</div>*@
                            @*<br class="clear" />*@
                            @*<div class="row">
                                    <div class="col-md-6">
                                        <input name="fname" type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input name="lname" type="text" placeholder="Last Name">
                                    </div>

                                </div>*@

                            @*<br class="clear" />*@
                            <div class="homesearchsection  ">
                                <div class="searchformsec">
                                    <div class="row">
                                        <h1 class="mainpagetitle Padd15"><span> Candidate</span> Details</h1>

                                        @*<div style="font-size:16px;color:#000000">CANDIDATE DETAILS</div>*@

                                        <div class="col-md-6">
                                            <label>Gender </label>
                                            <select name="gender">
                                                <option value="">Select</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Age </label>
                                            <select class="form-control searchableselect" id="vc_AgeGroupID" name="vc_AgeGroupID">
                                                <option value="">Select</option>
                                                @foreach (var con in ViewBag.Agegroup)
                                                {
                                                    <option value="@con.lm_Id">@con.lm_Value</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    @*<br class="clear" />
                                    <div class="row">


                                        <div class="col-md-6">
                                            <label>Location </label>
                                            <select style="width:100%" class="form-control searchableselect" id="ca_lm_CountryId" name="ca_lm_CountryId">
                                                <option value="">Select</option>
                                                @foreach (var con in ViewBag.Country)
                                                {
                                                    <option @(ViewBag.Ca_CurrentCountryID == con.lm_Id ? "selected" : "") value="@con.lm_Id">@con.lm_Value</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Language </label>
                                            <select style="width:100%" class="form-control searchableselect" id="acclanguage">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.Languages)
                                                {
                                                    <option value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }
                                            </select>
                                        </div>


                                    </div>*@
                                    <br class="clear" />
                                    <div class="row">


                                        @*<div class="col-md-6">
                                            <label>Notice Period</label>
                                            <select name="notice_period">
                                                <option value="">Select</option>
                                                <option value="">1 Week</option>
                                                <option value="">2 Weeks</option>
                                                <option value="">1 Months</option>
                                                <option value="">2 Months</option>
                                                <option value="">3 Months</option>
                                            </select>
                                        </div>*@
                                        <div class="col-md-6">
                                            <label>Employment Type </label>
                                            <select name="notice_period">
                                                <option value="">Select</option>
                                                <option value="">Unemployed</option>
                                                <option value="">Intern</option>
                                                <option value="">Employee</option>
                                                <option value="">Self-employed</option>

                                            </select>
                                        </div>
                                       
                                        <br class="clear" />

                                    </div>

                                </div>
                            </div>
                            <div class="homesearchsection  ">
                                <div class="searchformsec">
                                    <div class="row">
                                        <h1 class="mainpagetitle Padd15"><span>JOB</span> Details</h1>

                                        @*<div style="font-size:16px;color:#000000">CANDIDATE DETAILS</div>*@

                                        <div class="col-md-6">
                                            <label>Job Title </label>
                                            <select style="width:100%" class="form-control searchableselect" id="wh_jobtitle" name="wh_jobtitle">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.JobTitle)
                                                {
                                                    <option @(ViewBag.JobTitleID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Employer </label>
                                            <input value="" class="form-control" id="wh_company" placeholder="Select and begin typing" type="text">
                                        </div>

                                    </div>
                                    <br class="clear" />
                                    <div class="row">


                                        <div class="col-md-6">
                                            <label>Experience </label>
                                            @*<select name="experience">
                            <option value="">Years of Experience</option>
                            <option value="0:1">0-1</option>
                            <option value="1:3">1-3</option>
                            <option value="3:6">3-6</option>
                            <option value="6:8">6-8</option>
                            <option value="8:10">8-10</option>
                            <option value="-1:10">>10</option>

                        </select>*@
                                            <select style="width:100%" class="form-control searchableselect" id="ca_TotalRelavantExperience" name="ca_TotalRelavantExperience">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.Experience)
                                                {
                                                    @*<option @(ViewBag.ca_TotalRelavantExperience == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>*@
                                                }

                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Seniority </label>
                                            <select style="width:100%" class="form-control searchableselect" id="wh_level" name="wh_level">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.JobLevel)
                                                {
                                                    <option @(ViewBag.JobLevelID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }

                                            </select>
                                        </div>


                                    </div>
                                    <br class="clear" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Reserved for Disabled</label>
                                            <select name="Disabled">
                                                <option value="">Select</option>
                                                <option value="">Yes</option>
                                                <option value="">No</option>


                                            </select>
                                        </div>
                                    </div>
                                        @*<br class="clear" />
            <div class="row">


                <div class="col-md-6">
                    <label>Notice Period </label>
                    <select name="location"></select>
                </div>
                <div class="col-md-6">
                    <label>Employment Status </label>
                    <select name="Languages"></select>
                </div>


            </div>*@
                                    </div>
                                @*<br class="clear" />


                                <div class="col-md-12">
                                    <div class="col-md-6">

                                        <div style="font-size:16px;color:#999">Industry / Sector</div>

                                        <div style="height:350px;overflow-y:scroll;background-color:white;border:1px solid #eee;padding:10px; margin-left:-10px ">


                                            @foreach (var s in ViewBag.Sectors)
                                            {
                                                <div class="col-sm-12">
                                                    <input type="checkbox" id="chksector" name="chksector" value="@s.SectorID" /> <span style="font-size:15px;color:gray">@s.Sector</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div style="font-size:16px;color:#999">Function / Title</div>

                                        <div style="height:350px;overflow-y:scroll;background-color:white;border:1px solid #eee;padding:10px; ">


                                            @foreach (var f in ViewBag.FunctionalTitles)
                                            {
                                                <div class="col-sm-12">
                                                    <input type="checkbox" id="chksector2" name="chksector2" value="@f.lm_Id" /> <span style="font-size:15px;color:gray">@f.lm_Value</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>*@
                                <br class="clear" />
                                <div class="row">



                                </div>
                                <br class="clear" />

                            </div>
                            @*<div class="homesearchsection  ">
                                <div class="searchformsec">
                                    <div class="row">
                                        <h1 class="mainpagetitle Padd15"><span>Experience</span></h1>

                                   
                                        <div class="col-md-6">
                                            <label>Current Job Title </label>
                                            <select style="width:100%" class="form-control searchableselect" id="wh_jobtitle" name="wh_jobtitle">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.JobTitle)
                                                {
                                                    <option @(ViewBag.JobTitleID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Current Employer </label>
                                            <input value="" class="form-control" id="wh_company" placeholder="Select and begin typing" type="text">
                                        </div>

                                    </div>
                                    <br class="clear" />
                                    <div class="row">


                                        <div class="col-md-6">
                                            <label>Years Of Experience </label>
                                       
                                            <select style="width:100%" class="form-control searchableselect" id="ca_TotalRelavantExperience" name="ca_TotalRelavantExperience">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.Experience)
                                                {
                                                    <option @(ViewBag.ca_TotalRelavantExperience == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Seniority </label>
                                            <select style="width:100%" class="form-control searchableselect" id="wh_level" name="wh_level">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.JobLevel)
                                                {
                                                    <option @(ViewBag.JobLevelID == jfn.lm_Id ? "selected" : "") value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }

                                            </select>
                                        </div>


                                    </div>
                                 
                                </div>
                                <br class="clear" />


                                <div class="col-md-12">
                                    <div class="col-md-6">

                                        <div style="font-size:16px;color:#999">Industry / Sector</div>

                                        <div style="height:350px;overflow-y:scroll;background-color:white;border:1px solid #eee;padding:10px; margin-left:-10px ">


                                            @foreach (var s in ViewBag.Sectors)
                                            {
                                                <div class="col-sm-12">
                                                    <input type="checkbox" id="chksector" name="chksector" value="@s.SectorID" /> <span style="font-size:15px;color:gray">@s.Sector</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div style="font-size:16px;color:#999">Function / Title</div>

                                        <div style="height:350px;overflow-y:scroll;background-color:white;border:1px solid #eee;padding:10px; ">


                                            @foreach (var f in ViewBag.FunctionalTitles)
                                            {
                                                <div class="col-sm-12">
                                                    <input type="checkbox" id="chksector2" name="chksector2" value="@f.lm_Id" /> <span style="font-size:15px;color:gray">@f.lm_Value</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                                <br class="clear" />
                                <div class="row">



                                </div>
                                <br class="clear" />

                            </div>*@
                            <div class="homesearchsection  ">
                                <div class="searchformsec">
                                    <div class="row">
                                        <h1 class="mainpagetitle Padd15"><span>Education</span></h1>

                                     


                                        @*<div class="col-md-6">
                                            <label>University/Institute</label>
                                            <select style="width:100%" class="form-control searchableselect" id="eduSchool" name="eduSchool">
                                                <option value="">Select</option>
                                                @foreach (var uni in ViewBag.University)
                                                {
                                                    <option @(ViewBag.UniversityID == uni.lm_Id ? "selected" : "") value="@uni.lm_Id">@uni.lm_Value</option>
                                                }
                                            </select>

                                        </div>*@
                                        <div class="col-md-6">
                                            <label>Education Level </label>
                                            <select style="width:100%" class="form-control searchableselect" id="ca_lm_EducationLevel" name="ca_lm_EducationLevel">
                                                <option value="">Select</option>
                                                @foreach (var edu in ViewBag.EducationLevel)
                                                {
                                                    <option @(ViewBag.ca_lm_EducationLevel == edu.lm_Id ? "selected" : "") value="@edu.lm_Id">@edu.lm_Value</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <br class="clear" />
                                    @*<div class="row">


                                        <div class="col-md-6">
                                            <label>Degree Subject</label>
                                            <select style="width:100%" class="form-control searchableselect" id="eduDegree" name="eduDegree">
                                                <option value="">Select</option>
                                                @foreach (var uni in ViewBag.Degree)
                                                {
                                                    <option @(ViewBag.DegreeID == uni.lm_Id ? "selected" : "") value="@uni.lm_Id">@uni.lm_Value</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Field Of Study </label>
                                            <select style="width:100%" class="form-control searchableselect" id="eduField" name="eduField">
                                                <option value="">Select</option>
                                                @foreach (var uni in ViewBag.Specialization)
                                                {
                                                    <option @(ViewBag.SpecializationID == uni.lm_Id ? "selected" : "") value="@uni.lm_Id">@uni.lm_Value</option>
                                                }
                                            </select>
                                        </div>


                                    </div>*@

                                </div>

                            </div>
                           @* <div class="homesearchsection  ">
        <div class="searchformsec">
            <div class="row">
                <h1 class="mainpagetitle Padd15"><span>Skills</span></h1>

              <div style="font-size:16px;color:#000000">CANDIDATE DETAILS</div>

                <div class="col-md-6">
                    <label>Skills</label>
                    <select style="width:100%" class="form-control searchableselect" id="skill_add" placeholder="Add Skill">
                        <option value="">Select</option>
                        @foreach (var jfn in ViewBag.Skill)
                        {
                            <option value="@jfn.lm_Id">@jfn.lm_Value</option>
                        }

                    </select>
                </div>


            </div>
            <br class="clear" />

        </div>

    </div>*@
                            <div class="homesearchsection  ">
                                <div class="searchformsec">
                                    <div class="row">
                                        <h1 class="mainpagetitle Padd15"><span>Candidate</span> Target Move</h1>

                                        @*<div style="font-size:16px;color:#000000">CANDIDATE DETAILS</div>*@

                                        @*<div class="col-md-6">
                                            <label>Job Title</label>
                                            <select style="width:100%" class="form-control searchableselect" id="ic_currentjobtitle" name="ic_currentjobtitle">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.JobTitle)
                                                {
                                                    <option value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Industry/Sector </label>
                                            <select style="width:100%" class="form-control searchableselect" id="icm_industry">
                                                <option value="">Select</option>
                                                @foreach (var ind in ViewBag.Sectors1)
                                                {
                                                    <option value="@ind.lm_Id">@ind.lm_Value</option>
                                                }
                                            </select>
                                        </div>*@

                                    </div>
                                    <br class="clear" />
                                    <div class="row">


                                        <div class="col-md-6">
                                            <label>Desired Salary</label>
                                            <select style="width:100%" class="form-control searchableselect" id="icm_salary">
                                                <option value="">Select</option>
                                                @foreach (var jfn in ViewBag.Salary)
                                                {
                                                    <option value="@jfn.lm_Id">@jfn.lm_Value</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Contract Type </label>
                                            <select name="employment_type">
                                                <option value="">Select</option>
                                                <option value="">Full time</option>
                                                <option value="">Part time</option>
                                            </select>
                                        </div>


                                    </div>
                                    <br class="clear" />
                                    <div class="row">


                                        <div class="col-md-6">
                                            <label>Posted Within</label>
                                            <select name="last_login">
                                                <option value="">Select</option>
                                                <option value="">Today</option>
                                                <option value="">1 Week</option>
                                                <option value="">2 Week</option>
                                                <option value="">1 Month</option>
                                                <option value="">3 Months</option>
                                                <option value="">6 Months</option>
                                                <option value="">1 Year</option>
                                                <option value="">2 Years</option>

                                            </select>
                                        </div>
                                        @*<div class="col-md-6">
                                            <label>Reserved for Disabled</label>
                                            <select name="Disabled">
                                                <option value="">Select</option>
                                                <option value="">Yes</option>
                                                <option value="">No</option>
                                               

                                            </select>
                                        </div>*@



                                    </div>

                                </div>

                            </div>
                        </div>

                        @*</div>*@

                        @*<div class="col-md-12">




                                <div class="col-md-6">

                                    <div style="font-size:16px;color:#999">Industry / Sector</div>

                                    <div style="height:350px;overflow-y:scroll;background-color:white;border:1px solid #eee;padding:10px; margin-left:-10px ">


                                        @foreach (var s in ViewBag.Sectors)
                                        {
                                            <div class="col-sm-12">
                                                <input type="checkbox" id="chksector" name="chksector" value="@s.SectorID" /> <span style="font-size:15px;color:gray">@s.Sector</span>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div style="font-size:16px;color:#999">Function / Title</div>

                                    <div style="height:350px;overflow-y:scroll;background-color:white;border:1px solid #eee;padding:10px; ">


                                        @foreach (var f in ViewBag.FunctionalTitles)
                                        {
                                            <div class="col-sm-12">
                                                <input type="checkbox" id="chksector2" name="chksector2" value="@f.lm_Id" /> <span style="font-size:15px;color:gray">@f.lm_Value</span>
                                            </div>
                                        }

                                    </div>
                                </div>

                            </div>*@


                        @*<br class="clear" />
                            <div class="searchformsec">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select name="qualification">
                                            <option value="">Qualification</option>
                                            <option value="1">Higher National Diploma</option>
                                            <option value="2">Bachelor's degree</option>
                                            <option value="3">Master's degree</option>
                                            <option value="4">Doctoral degree</option>

                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="salary">
                                            <option value="">Salary</option>
                                            <option value="0:200">0-200</option>
                                            <option value="200:400">200-400</option>
                                            <option value="400:600">400-600</option>
                                            <option value="600:800">600-800</option>
                                            <option value="800:1000">800-1000</option>.
                                            <option value="-1:1000">>1000</option>

                                        </select>
                                    </div>


                                </div>

                                <br class="clear" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <select name="experience">
                                            <option value="">Years of Experience</option>
                                            <option value="0:1">0-1</option>
                                            <option value="1:3">1-3</option>
                                            <option value="3:6">3-6</option>
                                            <option value="6:8">6-8</option>
                                            <option value="8:10">8-10</option>
                                            <option value="-1:10">>10</option>

                                        </select>
                                    </div>



                                </div>
                            </div>
                            <br class="clear" />*@

                        <hr />

                        <div class="searchformsec">
                            <div class="row">

                                <div class="col-md-2 pull-right">
                                    <input name="" type="submit" value="Search">
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                        <br style="clear:both" />
                    }
                </div>

            </div>

        </div>
    </div>
</div>









<style>
    .modal-lg {
        margin: 15% auto;
    }
</style>

@foreach (var c in ViewBag.CandiateProfile)
{
    <div id="candidateModal" class="modal fade" role="dialog">
        <div class="modal-lg center-block">
            <div class="registerformbox">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="mainpagetitle">
                            JOBSEEKER
                            <span>PROFILE</span>
                        </h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @*<input type="hidden" value="@ViewBag.Candidateid" id="Ca_ID" />*@
                                    <label>First Name *</label>
                                    <input class="form-control" id="FirstName" name="First Name" placeholder="First Name" type="text" value="@ViewBag.fName">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name *</label>
                                    <input class="form-control" id="LastName" name="Last Name" placeholder="Last Name" type="text" value="@ViewBag.lName">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Date of Birth *</label>
                                    <input class="form-control datepicker" id="dateofbirth" name="dateofbirth" placeholder="Date / Month / Year" type="text" value="@ViewBag.DOB">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="gender">Gender *</label>
                                    @Html.DropDownList("ddlGender", (SelectList)ViewBag.Genders, "--Select--", new { @class = "form-control", @id = "Gender" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Phone *</label>
                                    <input class="form-control" name="Phone" id="Phone" placeholder="Phone" type="text" value="@ViewBag.Phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input class="form-control" name="Email" id="Email" placeholder="Email" type="text" value="@ViewBag.Email">
                                </div>
                            </div>
                            @foreach (var ca in ViewBag.CandiateProfile)
                            {
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="currentposition">Education Level *</label>
                                        <input class="form-control" name="Education Level" id="EducationLevel" placeholder="Education Level" type="text" value="@ca.lm_value">
                                        @*<div class="form-check">
                                                <input class="form-check-input" id="freshgraduate" type="checkbox">
                                                <label class="form-check-label" for="freshgraduate">Fresh graduate</label>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Current Salary (BHD) *</label>
                                            <input class="form-control" name="Current Salary" id="CurrentSalary" placeholder="Current Salary" type="text" value="@ca.ca_SalaryFrom">

                                        </div>
                                        @*<label for="highesteducation">Highest Level of Education *</label>
                                            <select class="form-control" id="highesteducation">
                                                <option>Education 1</option>
                                                <option>Education 2</option>
                                                <option>Education 3</option>
                                                <option>Education 4</option>
                                                <option>Education 5</option>
                                            </select>*@
                                    </div>
                                </div>
                                @*<div class="col-sm-8">
                                        <div class="form-group">
                                            <label>High School/University *</label>
                                            <input class="form-control" name="University" placeholder="High School/University" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="country">Country *</label>
                                            <select class="form-control" id="country">
                                                <option>Country 1</option>
                                                <option>Country 2</option>
                                                <option>Country 3</option>
                                                <option>Country 4</option>
                                                <option>Country 5</option>
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="summary">Profile Summary</label>
                                        <textarea class="form-control" name="Summary" id="summary" placeholder="Summary">@ca.ca_Profile</textarea>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-12">
                                <div class="form-group formbtn text-right">
                                    <input name="save" id="btnProfileSummary" type="submit" value="SAVE">
                                </div>
                            </div>
                        </div>
                        <br style="clear:both" />
                        <br style="clear:both" />


                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>*@
                </div>

            </div>
        </div>
        @*<div class="modal-lg center-block">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="mainpagetitle">JOBSEEKER <span>PROFILE</span></h1>
                    </div>
                    <div class="modal-body">
                        <div class="searchformsec">
                            <div class="col-md-3">Name:<br /><input type="text" class="form-control" value="@ViewBag.Name" /></div>
                            <div class="col-md-3">Email:<br /><input type="text" class="form-control" value="@ViewBag.Email" /></div>
                            <div class="col-md-3">Phone:<br /><input type="text" class="form-control" value="@ViewBag.Phone" /></div>
                            <div class="col-md-3">Date of Birth:<br /><input type="text" class="form-control" value="@ViewBag.DOB" /></div>
                        </div>
                        <br style="clear:both" />
                        <br style="clear:both" />


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>*@

    </div>
}


<div id="skillsModal" class="modal fade" role="dialog">
    <div class="modal-lg center-block">
        <div class="registerformbox">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="mainpagetitle">
                        <span>SKILLS</span>
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="myForm">


                                <table class="table table-bordered table-responsive" style="font-size:15px;">
                                    <tr>
                                        <th>Skills</th>
                                        <th>Skill Level</th>
                                        <th>Action</th>

                                    </tr>

                                    @foreach (var e in ViewBag.Skills)
                                    {

                                        <tr>
                                            <td>@e.Skills</td>
                                            <td>@e.SkillLevel</td>
                                            @*<td><input type="reset" value="Delete" class="btn btn-danger" id="btnSubmitx" /><i class="fa fa-trash-o" style="color:red"></i></td>*@
                                            <td style="text-align:center">
                                                <i class="fa fa-trash-o" style="color:red;font-size:20px;cursor:pointer" title="Delete Skill" onclick="delskill(@e.CaSkillID)"></i>
                                            </td>

                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <input type="hidden" value="@ViewBag.Candidateid" id="Ca_ID" />
                                            <input required type="text" id="Skills" class="form-control" />
                                        </td>

                                        @*<td>@Html.TextBoxFor(model => model.Skills, new { @class = "form-control", @placeholder = "Skill" })</td>*@
                                        @*<td>@Html.DropDownListFor(model => model.SkillLevel, (SelectList)ViewBag.Skill_level, "--Select--", new { @class = "form-control" })</td>*@
                                        <td>@Html.DropDownListFor(model => model.SkillLevel, (SelectList)ViewBag.Skill_level, "--Select--", new { @class = "form-control", @id = "SkillLevel" })</td>
                                        @*<td><input type="reset" value="Add" class="btn btn-success" id="btnSubmit" /> <i class="fa fa-plus" style="color:#8c8c3f;padding-top:12px"></i></td>*@
                                        <td style="text-align:center">
                                            <i class="fa fa-plus" style="color:#8c8c3f;padding-top:12px;font-size:20px;cursor:pointer" title="Add Skill" id="btnskills"></i>
                                        </td>







                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group formbtn text-right">

                                <input name="close" type="submit" data-dismiss="modal" value="Close">


                            </div>
                        </div>


                    </div>

                    <br style="clear:both" />
                    <br style="clear:both" />


                </div>

            </div>

        </div>
    </div>

    @*<div class="modal-lg center-block">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="mainpagetitle"><span>SKILLS</span></h1>
                </div>
                <div class="modal-body">
                    <div class="searchformsec">

                    </div>
                    <br style="clear:both" />
                    <br style="clear:both" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>*@
</div>




<div id="workhistoryModal" class="modal fade" role="dialog">
    <div class="modal-lg center-block">
        <div class="registerformbox">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="mainpagetitle">
                        WORK
                        <span>HISTORY</span>
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-responsive" style="font-size:15px;">
                                <tr>
                                    <th>Job Title</th>
                                    <th>Company</th>
                                    <th>Experience</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>Action</th>

                                </tr>

                                @foreach (var e in ViewBag.Experience)
                                {

                                    <tr>
                                        <td>@e.JobTitle</td>
                                        <td>@e.Company</td>
                                        <td>@e.TotalExp year(s)</td>
                                        <td>@e.City</td>
                                        <td>@e.Country</td>
                                        <td style="text-align:center">
                                            <i class="fa fa-trash-o" style="color:red;font-size:20px;cursor:pointer" title="Delete Experince" onclick="delExperince(@e.CaExpID)"></i>
                                        </td>

                                    </tr>
                                }
                                <tr>
                                    @*<td><input class="form-control" name="Job Title	" placeholder="Job Title" type="text" /></td>
                                        <td><input class="form-control" name="Company" placeholder="Company" type="text" /></td>
                                        <td><input class="form-control" name="Experience" placeholder="Experience" type="text" /></td>
                                        <td><input class="form-control" name="City" placeholder="City" type="text" /></td>
                                        <td><input class="form-control" name="Country" placeholder="Country" type="text" /></td>

                                        <td><i class="fa fa-plus" style="color:#8c8c3f;padding-top:12px"></i></td>*@

                                    <td>
                                        <input type="hidden" value="@ViewBag.Candidateid" id="Ca_ID" />
                                        <input required type="text" id="JobTitle" placeholder="Job Title" class="form-control" />

                                    </td>

                                    <td>
                                        <input class="form-control" id="Company" placeholder="Company" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="Experience" placeholder="Experience" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="City" placeholder="City" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="Country" placeholder="Country" type="text" />
                                    </td>

                                    @*<td>@Html.DropDownListFor(model => model.SkillLevel, (SelectList)ViewBag.Skill_level, "--Select--", new { @class = "form-control", @id = "SkillLevel" })</td>*@

                                    <td style="text-align:center">
                                        <i class="fa fa-plus" style="color:#8c8c3f;padding-top:12px;font-size:20px;cursor:pointer" title="Add Experince" id="btnexperince"></i>
                                    </td>



                                </tr>
                            </table>

                        </div>
                        <div class="col-sm-12">
                            <div class="form-group formbtn text-right">

                                <input name="close" type="submit" data-dismiss="modal" value="Close">

                            </div>
                        </div>


                    </div>

                    <br style="clear:both" />
                    <br style="clear:both" />


                </div>

            </div>

        </div>
    </div>

    @*<div class="modal-lg center-block">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="mainpagetitle">WORK <span>HISTORY</span></h1>
                </div>
                <div class="modal-body">
                    <div class="searchformsec">

                    </div>
                    <br style="clear:both" />
                    <br style="clear:both" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>*@
</div>






<div id="educationModal" class="modal fade" role="dialog">

    <div class="modal-lg center-block">
        <div class="registerformbox">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="mainpagetitle">
                        <span>EDUCATION</span>
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-responsive" style="font-size:15px;">
                                <tr>
                                    <th>Degree</th>
                                    <th>Major</th>
                                    <th>Institute</th>
                                    <th>Grade</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Action</th>

                                </tr>

                                @foreach (var e in ViewBag.Education)
                                {

                                    <tr>
                                        <td>@e.DegreeLevel</td>
                                        <td>@e.MajorSubject</td>
                                        <td>@e.Institute</td>
                                        <td>@e.Grade</td>
                                        <td>@e.State</td>
                                        <td>@e.Country</td>
                                        @*<td><i class="fa fa-trash-o" style="color:red"></i></td>*@
                                        <td style="text-align:center">
                                            <i class="fa fa-trash-o" style="color:red;font-size:20px;cursor:pointer" title="Delete Degree" onclick="delDegree(@e.CaEdu_ID)"></i>
                                        </td>

                                    </tr>
                                }
                                <tr>
                                    @*<td><input class="form-control" name="Degree" placeholder="Degree" type="text" /></td>
                                        <td><input class="form-control" name="Major" placeholder="Major" type="text" /></td>
                                        <td><input class="form-control" name="Institute" placeholder="Institute" type="text" /></td>
                                        <td><input class="form-control" name="Grade" placeholder="Grade" type="text" /></td>
                                        <td><input class="form-control" name="State" placeholder="State" type="text" /></td>
                                        <td><input class="form-control" name="Country" placeholder="Country" type="text" /></td>
                                        <td><i class="fa fa-plus" style="color:#8c8c3f;padding-top:12px"></i></td>*@


                                    <td>
                                        <input type="hidden" value="@ViewBag.Candidateid" id="Ca_ID" />
                                        <input required type="text" id="Degree" placeholder="Degree" class="form-control" />

                                    </td>

                                    <td>
                                        <input class="form-control" id="Major" placeholder="Major" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="Institute" placeholder="Institute" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="Grade" placeholder="Grade" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="State" placeholder="State" type="text" />
                                    </td>
                                    <td>
                                        <input class="form-control" id="c" placeholder="Country" type="text" />
                                    </td>
                                    <td style="text-align:center">
                                        <i class="fa fa-plus" style="color:#8c8c3f;padding-top:12px;font-size:20px;cursor:pointer" title="Add Degree" id="btndegree"></i>
                                    </td>

                                </tr>



                            </table>

                        </div>
                        <div class="col-sm-12">
                            <div class="form-group formbtn text-right">

                                <input name="close" type="submit" data-dismiss="modal" value="Close">

                            </div>
                        </div>


                    </div>

                    <br style="clear:both" />
                    <br style="clear:both" />


                </div>

            </div>

        </div>
    </div>

    @*<div class="modal-lg center-block">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="mainpagetitle"><span>EDUCATION</span></h1>
                </div>
                <div class="modal-body">
                    <div class="searchformsec">

                    </div>
                    <br style="clear:both" />
                    <br style="clear:both" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>*@
</div>

<div id="alertModal" class="modal fade" role="dialog">
    <div class="modal-lg center-block">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="mainpagetitle">
                    JOB
                    <span>ALERTS</span>
                </h1>
            </div>
            <div class="modal-body">
                <div class="searchformsec">

                </div>
                <br style="clear:both" />
                <br style="clear:both" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="profilePicModal" class="modal fade" role="dialog">
    <div class="modal-lg center-block">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="mainpagetitle">
                    <span>PROFILE</span> PIC
                </h1>
            </div>
            <div class="modal-body">
                <div class="searchformsec">

                    @using (Html.BeginForm("CandidatePhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-md-8">
                            <input class="form-control" id="file" name="file" placeholder="Attach Logo" type="file" required>
                        </div>
                        <div class="col-md-4">
                            <input name="save" type="submit" value="Upload">
                        </div>
                    }

                </div>
                <br style="clear:both" />
                <br style="clear:both" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    //$(document).ready(function () {


    //    $("#btnSubmit").click(function () {
    //        alert('jhi');
    //        $("#loaderDiv").show();

    //        var myformdata = $("#myForm").serialize();

    //        $.ajax({

    //            type: "POST",
    //            url: "/Home/JobSeekerProfile",
    //            data: myformdata,
    //            success: function () {
    //                $("#loaderDiv").hide();
    //                $("#myModal").modal("hide");

    //            }

    //        })
    //    })

    //})

    $(document).ready(function () {


        //$("#btnskills").click(function () {

        //    if ($("#Skills").val() != "" && $("#SkillLevel").val() != "") {

        //        urlx = "AddCandidateSkill/" + $("#Ca_ID").val() + "/" + $("#Skills").val() + "/" + $("#SkillLevel").val() + "/"

        //        $.ajax({
        //            type: 'GET',
        //            url: urlx,
        //            dataType: "json",
        //            success: function (data) {
        //                window.location.href = "JobSeekerProfile";
        //            },
        //            error: function () {
        //                alert("Sorry unable to add!");
        //            }
        //        });
        //    }
        //    else {
        //        alert("Skills and Skill Levels are mandatory");
        //    }
        //});

        $("#btnskills").click(function () {
            if ($("#Skills").val() != "" && $("#SkillLevel").val() != "") {
                $.ajax({
                    method: "POST",
                    url: "AddCandidateSkill2",
                    data: { Ca_ID: $("#Ca_ID").val(), Skills: $("#Skills").val(), SkillLevel: $("#SkillLevel").val() },
                    success: function (data) {
                        window.location.href = "JobSeekerProfile";
                    },
                    error: function () {
                        alert("Sorry unable to add!");
                    }
                })

            }
            else {
                alert("Skills and Skill Levels are mandatory");
            }
        });




    });

    $("#btnexperince").click(function () {
        if ($("#JobTitle").val() != "" && $("#Experience").val() != "") {
            $.ajax({
                method: "POST",
                url: "AddCandidateWorkHistory",
                data: { Ca_ID: $("#Ca_ID").val(), JobTitle: $("#JobTitle").val(), Company: $("#Company").val(), Experience: $("#Experience").val(), City: $("#City").val(), Country: $("#Country").val() },
                success: function (data) {
                    window.location.href = "JobSeekerProfile";
                },
                error: function () {
                    alert("Sorry unable to add!");
                }
            })

        }
        else {
            alert("JobTitle and Experience are mandatory");
        }
    });


    $("#btndegree").click(function () {
        if ($("#Degree").val() != "" && $("#Major").val() != "") {
            $.ajax({
                method: "POST",
                url: "AddCandidateDegree",
                data: { Ca_ID: $("#Ca_ID").val(), DegreeLevel: $("#Degree").val(), MajorSubject: $("#Major").val(), Institute: $("#Institute").val(), Grade: $("#Grade").val(), State: $("#State").val(), c: $("#c").val() },
                success: function (data) {
                    window.location.href = "JobSeekerProfile";
                },
                error: function () {
                    alert("Sorry unable to add!");
                }
            })

        }
        else {
            alert("Degree and Major are mandatory");
        }
    });

    $("#btnProfileSummary").click(function () {
        if ($("#FirstName").val() != "" && $("#LastName").val() != "") {
            $.ajax({
                method: "POST",
                url: "UpdateCandidateProfileSummary",
                data: { Ca_ID: $("#Ca_ID").val(), ca_FirstName: $("#FirstName").val(), ca_Surname: $("#LastName").val(), ca_DateOfBirth: $("#dateofbirth").val(), ca_Gender: $("#Gender").val(), ca_PhoneMobile: $("#Phone").val(), ca_EmailAddress: $("#Email").val(), ca_lm_EducationLevel: $("#EducationLevel").val(), ca_SalaryFrom: $("#CurrentSalary").val(), ca_Profile: $("#summary").val() },
                success: function (data) {
                    window.location.href = "JobSeekerProfile";
                },
                error: function () {
                    alert("Sorry unable to add!");
                }
            })

        }
        else {
            alert("Degree and Major are mandatory");
        }
    });


    function delskill(caskillid) {

        var r = confirm("Are you sure to delete the skill");

        if (r == true) {
            urlx = "DeleteCandidateSkill/" + caskillid + "/"

            $.ajax({
                type: 'GET',
                url: urlx,
                dataType: "json",
                success: function (data) {
                    window.location.href = "JobSeekerProfile";
                },
                error: function () {
                    alert("Sorry unable to delete!");
                }
            });
        }
    }



    function delExperince(caExperince) {

        var r = confirm("Are you sure to delete this work experince");

        if (r == true) {
            urlx = "DeleteCandidateExperince/" + caExperince + "/"

            $.ajax({
                type: 'GET',
                url: urlx,
                dataType: "json",
                success: function (data) {
                    window.location.href = "JobSeekerProfile";
                },
                error: function () {
                    alert("Sorry unable to delete!");
                }
            });
        }
    }

    function delDegree(CaEdu_ID) {

        var r = confirm("Are you sure to delete this Degree");

        if (r == true) {
            urlx = "DeleteCandidateDegree/" + CaEdu_ID + "/"

            $.ajax({
                type: 'GET',
                url: urlx,
                dataType: "json",
                success: function (data) {
                    window.location.href = "JobSeekerProfile";
                },
                error: function () {
                    alert("Sorry unable to delete!");
                }
            });
        }
    }


</script>
<script>
    $(function () {
        $('.searchableselect').select2();



        $("#keyword").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "getWorkExperinceJobTitle/" + request.term,
                    success: function (data) {
                        var transformed = $.map(data, function (el) {
                            return {
                                label: el.JobTitle


                            };
                        });
                        response(transformed);
                    },
                    error: function () {
                        response([]);
                    }
                });
            }
        });
    })
</script>
<script>
    $(function () {


        $("#wh_company").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Content("~/getABCcompanies")/" + request.term,
                    success: function (data) {
                        var transformed = $.map(data, function (el) {
                            return {
                                label: el.Company,
                                id: el.id
                            };
                        });
                        response(transformed);
                    },
                    error: function () {
                        response([]);
                    }
                });
            }
        });



    });
</script>

<link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.css")">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<script src="@Url.Content("~/js/autocompletevalues.js")"></script>*@