
@{
    ViewBag.Title = "Media Center";
    Html.RenderAction("menulogin");
}

<div class="topheaderbg sticky">
    <div class="toplogosection fade-1 dashboardmenu">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/jobs4bahrainislogo.png")" alt="" /></a></div>
                </div>
                <div class="col-sm-10 pull-right">
                    <div id="cssmenu" class="menupadd">
                        <ul>
                            <li><a href="@Url.Content("~/")">Home</a></li>
                            <li><a href="@Url.Content("~/AboutUs")">About Us</a></li>
                            <li class="active"><a href="@Url.Content("~/MediaCenter")">Media Center</a></li>
                            <li><a href="@Url.Content("~/Packages")">Pricing</a></li>
                            <li><a href="@Url.Content("~/CareerServices")">Careers Resources</a></li>
                            <li><a href="@Url.Content("~/ContactUs")">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">

        <div class="row">
            <h1 class="mainpagetitle centertext fade-1"><span>MEDIA</span> CENTER</h1>
            <br />

            <div class="col-sm-3">
                <div class="career-serbox">
                    <a  href="#" data-toggle="modal" data-target="#1">
                        <div class="gallerimg"><img class="img-responsive"  src="@Url.Content("~/images/mediacentre/next.jpg")" alt="" /></div>
                        <div class="careertitle"> <span>What next?</span> </div>
                    </a>
                </div>
            </div>
            <div id="1" class="modal fade" role="dialog">
                <div class="modal-lg center-block">
                    <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/next.jpg")" alt="" />
                            <br style="clear:both" />
                            <br style="clear:both" />
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-serbox">
                    <a  href="#" data-toggle="modal" data-target="#2">
                        <div class="gallerimg"> <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/blueprint.jpg")" alt="" /> </div>
                        <div class="careertitle"> <span>Largest database of Bahrainis</span> </div>
                    </a>
                </div>
            </div>
            <div id="2" class="modal fade" role="dialog">
                <div class="modal-lg center-block">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/blueprint.jpg")" alt="" />
                        <br style="clear:both" />
                        <br style="clear:both" />
                    </div>

                </div>
            </div>
          
           
            
            <div class="col-sm-3">
                <div class="career-serbox">
                    <a  href="#" data-toggle="modal" data-target="#6">
                        <div class="gallerimg"> <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/j4b.jpg")" alt="" /> </div>
                        <div class="careertitle"> <span>Promoting Bahrainis</span> </div>
                    </a>
                </div>
            </div>
            <div id="6" class="modal fade" role="dialog">
                <div class="modal-lg center-block">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/j4b.jpg")" alt="" />
                        <br style="clear:both" />
                        <br style="clear:both" />
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-serbox">
                    <a  href="#" data-toggle="modal" data-target="#7">
                        <div class="gallerimg"> <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/J4B-A4-girl-Flyer-Eng.jpg")" alt="" /> </div>
                        <div class="careertitle"> <span>It's as easy as upload & apply</span> </div>
                    </a>
                </div>
            </div>
            <div id="7" class="modal fade" role="dialog">
                <div class="modal-lg center-block">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/J4B-A4-girl-Flyer-Eng.jpg")" alt="" />
                        <br style="clear:both" />
                        <br style="clear:both" />
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-serbox">
                    <a  href="#" data-toggle="modal" data-target="#8">
                        <div class="gallerimg"> <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/J4B-Employers.jpg")" alt="" /> </div>
                        <div class="careertitle"> <span>Attention all Employers</span> </div>
                    </a>
                </div>
            </div>
            <div id="8" class="modal fade" role="dialog">
                <div class="modal-lg center-block">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/J4B-Employers.jpg")" alt="" />
                        <br style="clear:both" />
                        <br style="clear:both" />
                    </div>

                </div>
            </div>
           
            <div class="col-sm-3">
                <div class="career-serbox">
                    <a  href="#" data-toggle="modal" data-target="#20">
                        <div class="gallerimg"> <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/Vendingmachineconcept.jpg")" alt="" /> </div>
                        <div class="careertitle"> <span>the easy way to choose a job</span> </div>
                    </a>
                </div>
            </div>
            <div id="20" class="modal fade" role="dialog">
                <div class="modal-lg center-block">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="img-responsive"  src="@Url.Content("~/images/mediacentre/Vendingmachineconcept.jpg")" alt="" />
                        <br style="clear:both" />
                        <br style="clear:both" />
                    </div>

                </div>
            </div>
  

        </div>




        @*<div class="row">
            
            <div class="col-md-12 fade-1 dashboardwhiteboxshadow"  style="padding:0px;">
                <h1 class="mainpagetitle Padd15"><span>MEDIA</span> CENTRE</h1>
                <br />
                <div class="test-sec">
                    <div class="container">
                        







                        @*<div class="owl-carousel testimoneal-carousel centertext wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="2s">
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/pressreleaseJ4BMSB.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/pressreleaseJ4BMSB.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/AAKJobs4Bahrainistohostkeyseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/AAKJobs4Bahrainistohostkeyseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/GDNJobs4Bahrainistohostkeyseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/GDNJobs4Bahrainistohostkeyseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/AAKJobs4bahrainisholdsfirstcareerseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/AAKJobs4bahrainisholdsfirstcareerseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/GDNJobs4bahrainisholdsinauguralcareerseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/GDNJobs4bahrainisholdsinauguralcareerseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/MySolutionInfoJobs4bahrainisholdsinauguralcareerseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/MySolutionInfoJobs4bahrainisholdsinauguralcareerseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/TradeArabiaJobs4bahrainisholdsfirstcareerseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/TradeArabiaJobs4bahrainisholdsfirstcareerseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/ZawyaJobs4bahrainisholdsinauguralcareerseminar.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/ZawyaJobs4bahrainisholdsinauguralcareerseminar.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonialwhitebg">
                                    <a href="http://www.jobs4bahrainis.com/EN/images/AAKNews08Jul2013.jpg" target="_blank">
                                        <img src="http://www.jobs4bahrainis.com/EN/images/AAKNews08Jul2013.jpg" style="width:300px;height:350px" />
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <br style="clear:both" />
                <br />
               
               
               
            </div>
        </div>*@
    </div>
        </div>




        @Html.Partial("_partners")






