

@{
    ViewBag.Title = "ContactUs";
    Html.RenderAction("menulogin");
}
<style>
    label span {
        color: red;
    }
</style>
<div class="topheaderbg sticky">
    <div class="toplogosection fade-1 dashboardmenu">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/jobs4bahrainislogo.png")" alt="" /></a></div>
                </div>
                <div class="col-sm-10 pull-right">
                    <div id="cssmenu" class="menupadd">
                        <ul>
                            <li><a href="@Url.Content("~/")">Home</a></li>
                            <li><a href="@Url.Content("~/AboutUs")">About Us</a></li>
                            <li><a href="@Url.Content("~/MediaCenter")">Media Center</a></li>
                            <li><a href="@Url.Content("~/Packages")">Pricing</a></li>
                            <li><a href="@Url.Content("~/CareerServices")">Career Services</a></li>
                            <li><a href="@Url.Content("~/ContactUs")">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fade-1 dashboardwhiteboxshadow" style="padding:0px;">
                <h1 class="mainpagetitle Padd15">PRIVACY <span>POLICY</span></h1>
                <div class="col-md-12">

                    <br />
                    <p align="right">&nbsp;Last updated: November 2018</p>
                    <p align="right">&nbsp;</p>
                    <p><b>Jobs4Bahrainis</b> , is a joint venture between &nbsp;North Star Technologies WLL and Al Hilal Group WLL (&ldquo;the J4B Operators&rdquo;) . &nbsp;<b>Jobs 4 Bahrainis</b> is an online job board business that operates an online job portal for the Kingdom of Bahrain to accurately match candidates with companies.</p>
                    <p><b>Jobs4Bahrianis</b>, is committed to respecting and preserving the privacy of all visitors to&nbsp;<span style="text-decoration: underline;">www.jobs4bahrainis.com</span> ("the Site").&nbsp; We strive to provide a safe, secure user experience.</p>
                    <p>When you submit information to <b>Jobs4Bahrianis</b>, your information will also be shared with the J4B Operators, who will also use your information in accordance with this Privacy Policy. We take data protection very seriously and understand the importance of protecting your privacy and Personal Information. &ldquo;Personal Information&rdquo; is information that identifies you as an individual such as your name, date of birth, email address, IP address and CV. <b>Jobs4Bahrianis</b> will remain responsible for the management and security of jointly used Personal Information that you submit to Jobs4Bahrianis.</p>
                    <p>The Site may contain links to other Web sites, over which we have no control. We are not responsible for the privacy policies or practices of other Web sites to which you choose to visit from our Sites. We encourage you to review the privacy policies of those other websites so you can understand how they collect, use and share your information</p>
                    <p>Please read the following privacy policy to understand how we use and protect the information that you provide to us.</p>
                    <p></p>
                    <p><b>BY REGISTERING OR USING THIS SITE, YOU CONSENT TO THE COLLECTION, USE AND TRANSFER OF YOUR INFORMATION&nbsp; BY US UNDER THE TERMS OF THIS POLICY .</b></p>
                    <p><b>How do we collect information from you ?</b></p>
                    <p>We collect and use your Personal Information in accordance with this our Privacy Policy.</p>
                    <p>The majority of the Personal Information you provide to us is freely with consent when you give us your CV or job cover letter to a job application.</p>
                    <p></p>
                    <p><b>Please do not submit such Personal Information to us if you do not wish us to collect it.</b></p>
                    <p>However, please be aware, some Personal Information may include information you voluntarily, but unintentionally provided to us (for example, if you express preferences regarding searches for jobs related to trade unions).&nbsp;<br />We also collect from:</p>
                    <ul>
                        <li>our websites (the &ldquo;Websites&rdquo;);</li>
                        <li>the software applications made available by us for use on or through computers and mobile devices (the &ldquo;Apps&rdquo;);</li>
                        <li>cookies (&ldquo;Cookies&rdquo;);</li>
                        <li>publicly available information; and</li>
                        <li>other tools and applications (our &ldquo;Online Content&rdquo;).</li>
                    </ul>
                    <p><b>What Personal Information do we collect ?</b></p>
                    <p>Personal Information that we collect about you&nbsp;<i>may</i>&nbsp;include the following:</p>
                    <ul>
                        <li>General identification and contact information: your name; address; email; IP address; telephone details; gender; marital status; family status; date and place of birth; physical attributes including photos</li>
                        <li>Other sensitive information: trade union membership, religious beliefs, and criminal record.</li>
                        <li>Information enabling us to provide products and services: age, location, whether or not you hold a driving licence that enable identification of job search (for example, post code or job role)</li>
                        <li>Marketing preferences: &nbsp;a sales promotion, or respond to a voluntary customer satisfaction survey</li>
                        <li>Statistical information: aggregate statistical information about site visitors and users for internal use and for other lawful purposes eg. Salary averages. We provide this information to customers, advertisers, suppliers and other reputable third parties. Where we provide such information we will provide this in an anonymous format and not include any Personal Information.</li>
                        <li>Information from Apps: submit comments to the Site, participate in message boards, blogs, send us emails or any other user generated content facility</li>
                        <li>Publicly available information in relation to professional history: educational background; employment history; skills and experience; professional licenses and affiliations; educational and professional qualifications&nbsp;</li>
                    </ul>
                    <p>We retain all information and CVs indefinitely. If you change your mind about being contacted in the future, please let us know or, if you would like us to delete your personal information or to remove a CV that you have uploaded please either delete your details via your Account&nbsp; login or send an email via our contact form and provide details of your request.</p>
                    <p><b>What legal basis do we rely on to process your Personal Information?</b></p>
                    <p><b>Consent</b></p>
                    <p>On some occasions, <b>Jobs4Bahrianis</b> processes your data with your consent. For example, we rely on consent when we send promotional material or when you link your <b>Jobs4Bahrianis</b> account to your Social Network account. You have the right to withdraw consent at any time. Where consent is the only legal basis for processing, we will cease to process data after consent is withdrawn.</p>
                    <p><b>&nbsp;</b></p>
                    <p><b>The processing is necessary to fulfil a contract</b></p>
                    <p><b>Jobs4Bahrianis </b>may process your data when we need to do this to fulfil a contract with you, such as to send your CV to an employer or recruiter for a specific job application.</p>
                    <p>&nbsp;</p>
                    <p><b>Legitimate Interest</b></p>
                    <p><b>Jobs4Bahrianis</b> also processes your data when it is in our legitimate interests to do this and when these interests are not overridden by your data protection rights</p>
                    <p>Our legitimate interests include:</p>
                    <ul>
                        <li>ensuring the security and integrity of our Services and in ensuring that our Websites and Apps operate effectively;</li>
                        <li>selling and supplying services to our customers;</li>
                        <li>protecting customers, employees and other individuals and maintaining their safety, health and welfare;</li>
                        <li>promoting, marketing and advertising our products and services;</li>
                        <li>sending promotional communications which are relevant and tailored to individual customers;</li>
                        <li>understanding our customers' behaviour, activities, preferences, and needs;</li>
                        <li>improving existing products and services and developing new products and services;</li>
                        <li>handling customer contacts, queries, complaints or disputes; and</li>
                        <li>fulfilling our duties to our customers, colleagues, shareholders and other stakeholders.</li>
                    </ul>
                    <p><b>The processing is necessary because of a legal obligation that applies</b></p>
                    <p><b>Jobs4Bahrianis</b> may process your data to comply with our legal and regulatory obligations eg preventing, investigating and detecting crime, fraud or anti-social behaviour and prosecuting offenders, including working with law enforcement agencies.</p>
                    <p><b>&nbsp;</b></p>
                    <p><b></b><b>Who do we share your Personal Information with ?</b></p>
                    <p><b>Jobs4Bahrianis </b>may make Personal Information available to:</p>
                    <p><b>J4B Operators</b></p>
                    <p>The J4B Operators, Al Hilal Group WLL and&nbsp; North Star Technology WLL may share your personal data with certain members of their group companies which also operate online job portals. Where they have access to your personal data they will use it only for the purposes set out in this Privacy Policy. <b>Jobs4Bahrianis</b> will remain responsible for the management and security of jointly used Personal Information. Access to Personal Information within <b>Jobs4Bahrianis</b>, and the J4B Operators , is restricted to those individuals who have a need to access the information for our business purposes.</p>
                    <p><b>Recruiters and other agents</b></p>
                    <p>In the course of our business to help you search for and get a job, <b>Jobs4Bahrianis</b> may make Personal Information available to third parties such as recruiters and other intermediaries and agents and other business partners.</p>
                    <p><b>Our service providers</b></p>
                    <p>This includes external third-party service providers, such as accountants, auditors, experts, lawyers and other outside professional advisors; IT systems, support and hosting service providers; printing, advertising, marketing and market research and analysis service providers; document and records management providers; technical engineers; data storage and cloud providers and similar third-party vendors and outsourced service providers that assist us in carrying out business activities.</p>
                    <p><b>Governmental authorities and third parties involved in court action</b></p>
                    <p><b>Jobs4Bahrianis</b> may share Personal Information with governmental or other public authorities (including, but not limited to, workers' compensation boards, courts, law enforcement, tax authorities and criminal investigations agencies); and third-party civil legal process participants and their accountants, auditors, lawyers and other advisors and representatives as we believe to be necessary or appropriate: (a) to comply with applicable law, including laws outside your country of residence; (b) to comply with legal process; (c) to respond to requests from public and government authorities including public and government authorities outside your country of residence; (d) to enforce our terms and conditions; (e) to protect our operations or those of any of our J4B Operators; (f) to protect our rights, privacy, safety or property, and that of the J4B Operators, you or others; and (g) to allow us to pursue available remedies or limit our damages.</p>
                    <p><b>Other third parties</b></p>
                    <p>Occasionally, we may share Personal Information with other third parties. We will always do this under contract and in accordance with your instructions.</p>
                    <p>&nbsp;</p>
                    <p><b>How we use Personal Information ?</b></p>
                    <p>Our goal is to provide our users with a personalised experience every time they log onto the Site and to that end we may direct you to jobs/articles/forums etc. that we think may assist you in your career/lifestyle activities. By providing us with such information, you are thereby consenting to the use of that information in accordance with the policies and practices described in this Privacy Policy. Your information will enable us to provide you with access to all parts of our Site and to supply our services, which include providing you with our newsletter, and to contact you where necessary. We will also use and analyse the information we collect so that we can administer, support, improve and develop our business, which may include contacting you to notify you of our current or future services.</p>
                    <p>In relation to your Account with <b>Jobs4Bahrainis</b> we will share your information with :</p>
                    <ul>
                        <li>Employers looking to recruit or advertise on this Site.</li>
                    </ul>
                    <p>We also use Personal Information to do some or all of the following:</p>
                    <ul>
                        <li>Communicate with you as part of our business which includes (but is not limited to) job vacancies, training options and careers advice;</li>
                        <li>Send you important information regarding changes to our policies, other terms and conditions, the <b>Jobs4Bahrianis </b>Website and App and other administrative information;</li>
                        <li>Provide improved quality, training and security and manage other commercial risks;</li>
                        <li>Carry out market research and analysis, including satisfaction surveys;</li>
                        <li>Provide marketing information to you (including information about other products and services offered by selected third-party partners) in accordance with preferences you have expressed. Please be aware you can always change these at My Account;</li>
                        <li>Personalize your experience on the <b>Jobs4Bahrianis </b>Website and App by presenting information and advertisements tailored to you;</li>
                        <li>Allow you to participate in promotions, and to administer these activities. Some of these activities have additional terms and conditions, which could contain additional information about how we use and disclose your Personal Information, so we suggest that you read these carefully;</li>
                        <li>Facilitate social media sharing functionality;</li>
                        <li>Manage our infrastructure and business operations, and comply with internal policies and procedures, including those relating to auditing; finance and accounting; billing and collections; IT systems; data and website hosting; business continuity; and records, document and print management;</li>
                        <li>Resolve complaints, and handle requests for data access or correction;</li>
                        <li>Comply with applicable laws and regulatory obligations (including laws outside your country of residence), such as those relating to anti-money laundering and anti-terrorism; comply with legal process; and respond to requests from public and governmental authorities (including those outside your country of residence);</li>
                        <li>Establish and defend legal rights; protect our operations or those of any of our J4B Operators or insurance business partners, our rights, privacy, safety or property, and/or that of our group companies, you or others; and pursue available remedies or limit our damages. <b>Jobs4Bahrainis</b> reserves the right to retain information that you have requested be deleted where there is a legitimate legal reason why such information or CV should be retained by <b>Jobs4Bahrainis</b>.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><b>How can you manage or delete Personal Information?</b></p>
                    <p>When you access our website online, we store some information about you. This is anonymous and used for statistical purposes.</p>
                    <p>When you create an account and log-in to your 'My Account' area, it is protected by your password and may only be accessed by you. You can manage the content and information in your Account at any time, by logging in to your &ldquo;My Account&rdquo;.</p>
                    <p>Your CV can be viewed by <b>Jobs4Bahrianis </b>customers, or customers of the j4B Operators. This is the default setting. Further, when your profile is searchable your application activity (eg. number of applications, job titles, locations &amp; salaries) will be visible to <b>Jobs4Bahrianis </b>customers. This is also the default setting.</p>
                    <p>Please note that <b>Jobs4Bahrianis</b> reserves the right to remove from our database, CVs which include any content that we consider to be illegal or offensive. We will respect the choices you make to limit sharing or visibility settings in your &ldquo;My Account&rdquo;.</p>
                    <p>You can de-activate or delete your account at any time, make your profile anonymous or choose to not make your profile searchable. To de-activate, please go to your &ldquo;My Account&rdquo;.</p>
                    <p>If you opted to receive newsletters, commercial e-mails or other communications from Jobs4Bahrainis or third parties at the time you created a account, but subsequently changed your mind, you may opt-out by editing your Account Profile as described above. If you previously opted not to receive such communications, you may later opt-in by editing your&nbsp;<b> Jobs4Bahrainis</b>&nbsp; Account Profile as well.</p>
                    <p>However, if you would like to permanently delete your account, you can send an email to our Data Protection Officer (DPO) (see below) with the subject line &ldquo;Permanently delete my information and account&rdquo;. Please do not forget to tell us who you are.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;<b>Third Party Privacy Practices</b><b></b></p>
                    <p>This Privacy Policy does not address, and we are not responsible for, the privacy, information or other practices of any third parties to which the <b>Jobs4Bahrianis</b> website and App link. The inclusion of a link on the Website or App does not imply endorsement of the linked site or service by us or the J4B Operators. Please note that we are not responsible for the collection, usage and disclosure policies and practices (including the data security practices) of other organizations or any other software application developer or provider, social media platform, operating system or wireless service provider, or device manufacturer, including any Personal Information you disclose to other organizations through or in connection with the Apps or our Social Media Pages.</p>
                    <p>Please note that although we require customers who use our services, such as employers seeking to recruit staff, to agree to use the information made available solely for recruitment-related purposes, we do not control their use of any information that they have access to as part of receiving our services.</p>
                    <p>Please be aware your current employer may be a customer of <b>Jobs4Bahrianis</b>, or a client of one of our job boards in our group of companies. Although it is a requirement of our Contract and Terms and Conditions of <b>Jobs4Bahrianis</b> and other job boards not to use Personal Information for any purpose other than to obtain a job, we cannot restrict the customers who access profiles on our database and cannot be held responsible for any eventuality. As part of the registration process <b>Jobs4Bahrianis</b> offers you the option of remaining anonymous.</p>
                    <p>We are not responsible for the use made of resumes by third parties who access such resumes while they are in our searchable database. You may remove your resume on <b>Jobs4Bahrainis</b> at anytime, but, employers, recruiters and others who have paid for access to the <b>Jobs4Bahrainis</b> site resume database or to obtain a copy of that database as well as parties who have otherwise gained access may have retained a copy of your resume in their own files or databases. We are not responsible for the retention, use or privacy of resumes or profiles in these instances.</p>
                    <p>&nbsp;</p>
                    <p><b>&nbsp;</b><b>International Transfers of Personal Information</b></p>
                    <p>Personal Information which you supply to us is generally stored and kept inside the Kingdom of Bahrain.</p>
                    <p>However, due to the nature of our global business and the technologies required, your Personal Information may be transferred to third party service providers outside the Kingdom of Bahrain. In such situations, we transfer the data and enter legal contracts to aim to ensure these third parties handle your Personal Information in accordance with this Privacy Policy and the levels of data protection contained in it.</p>
                    <p>&nbsp;</p>
                    <p><b>Cookies</b></p>
                    <p>We use "cookies" to help personalise and maximise your online experience and time online. A cookie is a text file that is placed on your hard drive by a Web page server. Cookies are not used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to your computer, and can only be read by a Web server in the domain that issued the cookie to you. One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalise <b>Jobs4Bahrainis</b> pages, or register for services, a cookie helps us to recall your specific information (such as user name, password and preferences).</p>
                    <p>Because of our use of cookies, we can deliver faster and more accurate results and a more personalised site experience. When you return to the Site , the information you previously provided can be retrieved, so you can easily use the features that you customised. We also use cookies to track click streams and for load balancing. You may have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline all cookies if you prefer. Alternatively, you may be able to modify your browser setting to notify you each time a cookie is tendered and permit you to accept or decline cookies on an individual basis. If you choose to decline cookies, however, that may hinder performance and negatively impact your experience on the Site.</p>
                    <p>&nbsp;</p>
                    <p><b>Additional Services for Website and App</b></p>
                    <p><b>Push notifications</b></p>
                    <p>If you use the <b>Jobs4Bahrianis </b>Website or Mobile Version or App, you may also consent to push notifications, text messages, alerts, emails or other types of messages directly sent to you outside or inside of the <b>Jobs4Bahrianis</b> Site to your mobile device or desktop browser. If you declare your consent to receive such messages a device token will be generated, which will be associated with your device.</p>
                    <p>You can at any time opt out from receiving such messages by changing the settings of your device.</p>
                    <p><b>Online drives</b></p>
                    <p>If you enable us, we access the following Services for the limited purpose of helping us to upload or otherwise access your CV, cover letters or any other documents you provide us to assist you apply for jobs. The Services we use are:</p>
                    <ul>
                        <li>Google Cloud</li>
                        <li>OneDrive</li>
                        <li>DropBox</li>
                        <li>Box</li>
                    </ul>
                    <p>We will be guided by their respective Privacy policies.</p>
                    <p>&nbsp;</p>
                    <p><b>Children and minors</b></p>
                    <p><b>Jobs4Bahrianis</b> is not directed towards individuals under the age of eighteen (18),</p>
                    <p>Individuals under the age of thirteen (13) are expressly prohibited from using Site and App, unless parental consent is provided and we are notified.</p>
                    <p>&nbsp;</p>
                    <p><b>Security</b></p>
                    <p><b>Jobs4Bahrianis</b> is committed to keeping your personal data safe and secure from unauthorised access to or unauthorised alterations, disclosure or destruction of information that we hold.</p>
                    <p>Our security measures include:</p>
                    <ul>
                        <li>encryption of our services and data;</li>
                        <li>review our information collection, storage and processing practices, including physical security measures;</li>
                        <li>restrict access to personal access to personal information to <b>Jobs4Bahrianis</b> employees, contractors and agents who need to know that information in order to process it for us and who are subject to contractual confidentiality and processing obligations. They may be disciplined or their contract terminated if they fail to meet these obligations; and</li>
                        <li>internal policies setting out our data security approach and training for employees.</li>
                    </ul>
                    <p><b>Changes to Our Privacy Policy</b></p>
                    <p>We review this Privacy Policy regularly and reserve the right to make changes at any time to take account of changes in our business and legal requirements. We will place updates on our website and where appropriate, through e-mail notification.&nbsp; Nevertheless, please take a look at the &ldquo;LAST UPDATED&rdquo; date at the top of this Privacy Policy to see when it was last revised.&nbsp; Please also see our&nbsp;<span style="text-decoration: underline;">Terms &amp; Conditions</span>&nbsp;for more information.</p>
                    <p>&nbsp;</p>
                    <p><b>Your Rights</b></p>
                    <p>You have the following rights:</p>
                    <ul>
                        <li>the right to ask what personal data that we hold about you at any time, subject to any fee that may be &nbsp;specified by law;</li>
                        <li>the right to ask us to update and correct any out-of-date or incorrect personal data that we hold about you free of charge; and</li>
                        <li>(as set out above) the right to opt out of any marketing communications that we may send you.</li>
                    </ul>
                    <p>If you wish to exercise any of the above rights, please contact us using the contact details set out below.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p><b>Who to contact about your Personal Information</b></p>
                    <p>The data controller responsible for your information is <b>Jobs4Bahrianis</b>.</p>
                    <p>If you have any questions about this policy or our use of your Personal Information you can email:&nbsp;<b><i>dataprotectionofficer@jobs4bahrainis.com</i></b>&nbsp;or write to the Data Protection Officer, &nbsp;<b>Jobs4Bahrianis</b>, PO Box 1100 Manama Bahrain</p>
                    <p>&nbsp;</p>
                </div>

            </div>
            <br />
        </div>
    </div>
</div>



@Html.Partial("_partners")