
@{
    ViewBag.Title = "ContactUs";
    Html.RenderAction("menulogin");
}
<style>
    label span {
        color: red;
    }
</style>
<div class="topheaderbg sticky">
    <div class="toplogosection fade-1 dashboardmenu">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/jobs4bahrainislogo.png")" alt="" /></a></div>
                </div>
                <div class="col-sm-10 pull-right">
                    <div id="cssmenu" class="menupadd">
                        <ul>
                            <li><a href="@Url.Content("~/")">Home</a></li>
                            <li><a href="@Url.Content("~/AboutUs")">About Us</a></li>
                            <li><a href="@Url.Content("~/MediaCenter")">Media Center</a></li>
                            <li><a href="@Url.Content("~/Packages")">Pricing</a></li>
                            <li><a href="@Url.Content("~/CareerServices")">Career Services</a></li>
                            <li><a href="@Url.Content("~/ContactUs")">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<br />
<div class="dashboardsection mainlightgraybg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fade-1 dashboardwhiteboxshadow" style="padding:0px;">
                <h1 class="mainpagetitle Padd15">TERMS &<span> CONDITIONS</span></h1>
                <div class="col-md-12">

                    <br />
                    <p><strong>ATTENTION: THESE TERMS APPLY &nbsp;TO THE ENTIRE CONTENTS OF THIS WEBSITE UNDER THE DOMAIN NAME WWW.JOBS4BAHRAINIS.COM . (THE "SITE") AND TO ANY CORRESPONDENCE BY EMAIL BETWEEN US AND YOU. PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS WEBSITE. USING THIS WEBSITE INDICATES THAT YOU ACCEPT THESE TERMS REGARDLESS OF WHETHER OR NOT YOU CHOOSE TO REGISTER WITH US. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT USE THIS WEBSITE. THIS NOTICE IS ISSUED BY AL HILAL GROUP AND NORTH STAR TECHNOLOGIES WLL ON BEHALF OF "JOBS4BAHRAINIS"</strong><strong>&nbsp;</strong></p>
                    <p><b>Jobseekers - PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THE SITE</b> <b>WHAT'S IN THESE TERMS</b></p>
                    <p>These jobseeker terms (the "<strong>Jobseeker Terms</strong>") set out the information applicable to jobseekers (the "<strong>Jobseekers</strong>") who wish to use <b>www.Jobs4Bahrianis.com</b> (the "<strong>Site"</strong>) and apply to the contractual agreement (hereinafter referred to as the "Agreement") between &nbsp;<b>Jobs4Bahrainis</b> ("<strong>We</strong>", "<strong>Our</strong>" , "<strong>Us</strong>" or <b>&ldquo;J4B</b>&rdquo;) and you on the other hand, who are interested in or use any career service that is offered at <b>www.Jobs4Bahrianis.com</b> or other websites that incorporate these Terms of Use and our mobile applications ("apps") (collectively referred to as "Service" hereinafter). Such websites and the apps are collectively referred to as<b> Jobs4Bahrainis</b> hereinafter.</p>
                    <p></p>
                    <b>WHO WE ARE AND HOW TO CONTACT US</b>
                    <p>The Site is operated under the name <b>Jobs4Bahrainis</b> (&rdquo;<b>We</b>&rdquo;, &ldquo;<b>Our</b>&rdquo; or &ldquo;<b>Us</b>&rdquo;). We are operated by Al Hilal Group WLL and North Star Technologies WLL jointly and severally. Both companies are incorporated in the Kingdom of Bahrain. They can both be contacted by post&nbsp; at PO Box 1100, Manama , Kingdom of Bahrain or by email at compliance@jobs4bahrianis.com.</p>
                    <p></p>
                    <b>USING THE SITE IS ACCEPTANCE OF THESE TERMS</b>
                    <p>By using the Site, you confirm that you accept these Jobseeker Terms and that you agree to comply with them.</p>
                    <b><i>If you do not agree to these Jobseeker Terms, you must not use the Site.</i></b>
                    <p>We recommend that you print a copy of these Jobseeker Terms for future reference.</p>
                    <p></p>
                    <b>OBJECT OF THE AGREEMENT AND SCOPE OF THE SERVICES</b>
                    <p>We offer a variety of career services via <b>Jobs4Bahrainis</b>. We want to be your career assistant. We aim to build a long lasting relationship, to build a product and a Service, that is available 7 days a week, 24 hours a day and which enables you to take your life and future in your own hands.</p>
                    <p>A <b>Jobs4Bahrainis</b> account will offer you additional functionalities and Services. To provide you with the specific Services under registration we will store the date of your last activity on <b>Jobs4Bahrainis</b> ("Last Activity Date"), which can include the date of your registration, and last use of &nbsp;the services on the Site to apply for a job.</p>
                    <strong>a. Services available without registration</strong>
                    <p>Without the registration you may use all Services that are available on our website without registration. Particularly you can browse jobs that are published on our website.</p>
                    <strong>b. Job alerts</strong>
                    <p>You can subscribe to a Job alerts through our Platforms. That means you will then regularly receive job alerts about listings which match your criteria. You can create job alters manually which match a profile that has been defined by you in advance.</p>
                    <strong>c. My J4B Account </strong>
                    <p>Certain Services will only be available as part of a &nbsp;J4B account.</p>
                    <p>If you enter into an agreement for a J4B account, you can use additional Services as described hereinafter. You can register for a J4B account as described in section 3.</p>
                    <strong>d. Saved Jobs</strong>
                    <p>You can save job ads that you have viewed, e.g. by clicking the respective button in the job ad. You will then be able to access such saved listings in your J4B account.</p>
                    <strong>e. &nbsp;Your Profile</strong>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i.&nbsp; You can create a CV-profile ("Profile") within your J4B account, &nbsp;</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; ii.&nbsp; You can use any such Profile to apply to job offers that are published on the J4B websites or apps. The respective recruiting company will then have access to your Profile and will be able to see the data you provided. We will also use the data you have provided as part of your Profile to provide you with job ad recommendations tailored to your needs based on your Profile data. To provide you with the specific Services under the J4B Profile, we will store the date of your last activity at the J4B Platforms ("Last Activity Date"), which can include the date of your registration, and last use of J4B Services like your last application.</p>
                    <p>&nbsp;&nbsp;&nbsp; iii.&nbsp; If you choose to make your Profile visible but your personal information hidden, customers that have purchased access to or are otherwise entitled to use J4B's CV Database will have access to parts of your profile such as current job title, current salary, key skills &amp; personal summary and application history. For these profiles no name, no email address, no phone number or CV will be displayed. All other data you have provided as part of your Profile will be fully accessible to CV Database</p>
                    <p>&nbsp;&nbsp;&nbsp; iv.&nbsp; If you choose to make your Profile active and public, you grant access (including a search functionality and download) to and disclose your complete Profile and the attachments thereto as well as the Last Activity Date to CV Database users As part of an active and public Profile we may also provide a link to a profile about you on a publicly available business related social media website we have found about you to CV Database search users</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; v.&nbsp; We do not warrant or guarantee a minimum volume of storage capacity for your Profile. We reserve the right to temporarily or permanently restrict the data volume for uploads of data, especially if necessary due to technical reasons, for example in order to maintain or optimise the Service.</p>
                    <strong>f. Application History</strong>
                    <p>Within your J4B account we store your applications to job listings that were published on the J4B platforms for two months in a history that can be accessed via your J4B account. Information from such applications can be used to prefill fields if you create a J4B Profile</p>
                    <strong>g. Additional functions for Job alerts</strong>
                    <p>In your J4B Account you can manage the Job by email settings, i.e. the criteria used to match your job alerts. We also send job alerts based on your search behaviour and your job inventory changing. You can at any time deactivate Job alerts or Instant job match.</p>
                    <p></p>
                    <b>THERE ARE OTHER TERMS THAT MAY APPLY TO YOU</b>
                    <p>This Acceptable Use Policy refers to the following additional terms, which also apply to your use of the Site:</p>
                    <ul>
                        <li>Our <a href="http://www.jobs4bahrainis.com/privacypolicy">privacy policy</a>, which sets out the terms on which We process any personal data We collect from you, or that you provide to Us. By using the Site, you consent to such processing and you warrant that all data provided by you is accurate;</li>
                        <li>Our <a>cookie policy</a>, which sets out information about the cookies on the Site; and</li>
                        <li>Our <a href="http://www.jobs4bahrainis.com/termsadnconditionsusers">Recruiter terms and conditions</a>, which sets out information applicable to Recruiters.</li>
                    </ul>
                    <p></p>
                    <b>We may make changes to the terms of these terms</b>
                    <p>We amend these Jobseeker Terms from time to time. Every time you wish to use the Site, please check these Jobseeker Terms to ensure you understand the terms that apply at that time.</p>
                    <p><br /> </p>
                    <p>These Jobseeker Terms was most recently updated on 1<sup>st</sup> of &nbsp;January 2019</p>

                </div>

            </div>
            <br />
        </div>
    </div>
</div>



@Html.Partial("_partners")