@model List<Jobs4Bahrainis.Models.JobSearchResultModel>  
@{
    ViewBag.Title = "JobSeeker";
}
@Html.Partial("_menu")
<style>
    .dashboard-middsec .col-md-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<div class="dashboardsection MT30">
    <div class="container">
        <div class="leftrightpanel">
            <div class="row mainrow">

                <div class="col-sm-12">
                  
                    <div class="dashboard-middsec">
                        <div class="row">
                            <div class="homesearchsection wow fade-2 ">
                                <h1 class="mainpagetitle Padd15">JOB SEARCH <span>RESULTS</span></h1>

                                <div class="searchformsec">
                                    <div class="row" style="font-size:15px;">
                                        <div class="col-md-12">
                                            @foreach (var lj in Model)
                                            {

                                                <div class="listwhitebox tablistsec">

                                                    <div class="jobcomnamelogo">
                                                        <div class="row">
                                                            <div class="col-md-4 col-md-push-8">
                                                                <div class="comlogo"><a href="#"><img src="@lj.LogoURL" alt=""></a></div>
                                                            </div>
                                                            <div class="col-md-8 col-md-pull-4">
                                                                <div class="combydata">
                                                                    <h4><a href="#">@lj.vc_Title</a></h4>
                                                                    <div class="comdet"> @lj.vc_description ... </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="listtimelocation">
                                                        <ul>
                                                            <li><img src="@Url.Content("~/images/latestjob-icon-1.png")" alt=""> @lj.days_posted days ago</li>
                                                            <li><img src="@Url.Content("~/images/latestjob-icon-2.png")" alt=""> @lj.co_name</li>
                                                            <li><img src="@Url.Content("~/images/latestjob-icon-3.png")" alt=""> @lj.vc_Location</li>
                                                            <li><img src="@Url.Content("~/images/latestjob-icon-4.png")" alt=""> Full Time</li>
                                                        </ul>
                                                    </div>

                                                </div>

                                            }
                                        </div>
                                    </div>
                               </div>

                           </div>
                                    @*<div class="col-md-8">
                                        <div class="dashboardwhiteboxshadow tabacc-sec wow fade-2">
                                          

                                    <div class="tab-content">
                                        <div class="vacancieslist">
                                            <ul>

                                                @foreach (var js in Model)
                                                {

                                                    <li>
                                                        <div class="vacanciestuserimg"><a href="#"><img style="width:100px;height:100px;" src="@ViewBag.TestImg" alt="" onerror="this.src='@Url.Content("~/images/jobseeker.png")';" /></a></div>
                                                        <div class="vacanciestdet">
                                                            <h4><a href="#">@js.ca_FullName</a></h4>
                                                            <span>@js.ca_EmailAddress</span> @js.ca_PhoneMobile<br />
                                                            Gender: @js.ca_Gender &nbsp;&nbsp;&nbsp;Age: @js.ca_Age
                                                        </div>
                                                    </li>
                                                }
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>*@
                            @*<div class="col-md-4">
                                    <div class="feturedsectors-list dashboardwhiteboxshadow wow fade-3" style="padding:10px">
                                        <h1 class="mainpagetitle Padd15"><span>FEATURED</span> SECTORS</h1>
                                        <div class="feturlist">
                                           <ul>
                                                @{ count = 0;}
                                                @foreach (var jsc in ViewBag.lstjobsectorcount)
                                                {
                                                    if (count < 18)
                                                    {
                                                        <li><a href="@Url.Content("~/SectorJobs/"+jsc.SectorID+"/"+jsc.SectorURL)">@jsc.Sector</a></li>
                                                    }
                                                    count++;
                                                }
                                            </ul>

                                        </div>
                                    </div>

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feturedsectors-list dashboardwhiteboxshadow wow fade-3">
            <h1 class="mainpagetitle Padd15">Top <span>EMPLOYERS</span></h1>
            <div class="topemp-carousel centertext wow fade-1-5">
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-3.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-4.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-5.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-6.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-3.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-4.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-5.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-6.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-1.png")" alt="" /></a></div>
                </div>
                <div class="item">
                    <div class="partnergraybg"><a href="#"><img src="@Url.Content("~/images/topemployers-logo-2.png")" alt="" /></a></div>
                </div>
            </div>
        </div>
    </div>
</div>