

@{
    ViewBag.Title = "ContactUs";
}

 

 <div class="menutoprel dashboardmenu">
    <div class="topheaderbg sticky">
        <div class="toplogosection ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="toplogo "><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/logo.png")" alt="" /></a></div>
                        <div id="cssmenu" class="menupadd">
                            <ul>
                                <li class="active"><a href="@Url.Content("~/Recruiter")">DASHBOARD</a></li>
                                <li><a href="@Url.Content("~/CandidateSearch")">CANDIDATE SEARCH</a></li>
                                <li><a href="@Url.Content("~/ManageVacancies")">MANAGE VACANCIES</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="notiuserdet">
                            <ul>
                                <li>
                                    <div class="dasdeticon"><a href="@Url.Content("~/RecruiterContact")"><img src="@Url.Content("~/images/email-icon.png")" alt="" /></a> <a href="@Url.Content("~/RecruiterAlert")"><img src="@Url.Content("~/images/notification-icon.png")" alt="" /></a> <a title="Logout" href="@Url.Content("~/RecruiterLogout")"><img src="@Url.Content("~/images/setting-icon.png")" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="das-userphoto"> <a href="#"><img src="@ViewBag.Logo" alt="" /></a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="homesearchsection mainlightgraybg PTb60">
    <div class="container">
        <h1 class="mainpagetitle centertext wow fade-1"> <span>CONTACT</span> US</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="servicebox wow fade-1-5">
                    <div class="serviceicon"><a href="#"><img src="images/service-icon-1.png" alt=""></a></div>
                    <h3><a href="#">Feedback</a></h3>
                    <div class="servdet">
                        <p>
                            We love to hear from you. Please send us your feedback.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="searchformsec">
                    <div class="col-md-12">
                        <input name="" type="text" placeholder="Name">
                    </div>
                    <br style="clear:both" /><br />
                    <div class="col-md-12">
                        <input name="" type="email" placeholder="Email ID">
                    </div>
                    <br style="clear:both" /><br />


                    <div class="col-md-12">
                        <input name="" type="text" placeholder="Phone">
                    </div>
                    <br style="clear:both" /><br />


                    <div class="col-md-12">
                        <input name="" type="text" placeholder="Comments">
                    </div>
                    <br style="clear:both" /><br />
                    <div class="col-md-3">
                        <input name="" type="submit" value="Send">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



@Html.Partial("_partners")






